<div class="wrapper">

  {{> header_navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left"><a href="/gallery">{{TRANSLATION "gallery.list"}}</a></h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <div class="container content" ng-controller="galleryCtrl">

    <div class="row">
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchWords" ng-init="searchWords=''" ng-keypress="($event.which === 13)?btnEnter():return" placeholder="{{TRANSLATION "search.placeholder.words"}}">
           <span class="input-group-btn">
             <button class="btn-u" type="button" ng-click="btnEnter();"><i class="fa fa-search"></i></button>
           </span>
        </div>
        <span class="text-danger" ng-show="enterAlert" ng-bind="enterAlert"></span>
      </div>
    </div>

    <hr class="padding-5"/>

    <div class="row" ng-show="galleries != null">
      <ul class="list-unstyled">
        <li class="col-md-3 col-sm-4 col-xs-6" ng-repeat="gallery in galleries">
          <div class="thumbnail">
            <img class="cursor-pointer" ng-src="{{thumbnailServerUrl}}/gallery/thumbnail/{%gallery.id%}" alt="{%gallery.name%}" ng-click="openLightboxModal($index)">
            <div class="caption">
              <h5 class="text-center"><a ng-href="/gallery/{%gallery.id%}" class="text-overflow text-center" ng-bind="gallery.name"></a></h5>
            </div>
          </div>
        </li>
      </ul>
    </div>

    <div infinite-scroll="infiniteScroll()" infinite-scroll-disabled="infiniteDisabled">
    </div>

    <div class="margin-bottom-10" ng-show="galleries.length > 0">
      <button type="button" class="btn-u btn-brd rounded btn-block btn-u-dark" ng-click="btnMoreGalleries()">
        {{TRANSLATION "common.button.more.galleries"}} <i class="fa fa-angle-down"></i>
        <i class="fa fa-circle-o-notch fa-spin" ng-show="galleriesConn === 'connecting'"></i>
      </button>
    </div>

    <div class="alert alert-info" ng-show="moreAlert.msg">
      <p ng-bind="moreAlert.msg"></p>
    </div>
  </div> <!-- container end -->

  {{> footer}}

</div><!-- /.wrapper -->

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/unify/assets/plugins/back-to-top.js"></script>
<script src="/unify/assets/plugins/smoothScroll.js"></script>
<script src="/unify/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/unify/assets/js/app.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/slick-carousel/slick/slick.js"></script>
<script src="/bower_components/angular-slick-carousel/dist/angular-slick.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-lazy-img/release/angular-lazy-img.js"></script>
<script src="/bower_components/ng-infinite-scroller-origin/build/ng-infinite-scroll.js"></script>
<script src="/bower_components/angular-touch/angular-touch.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/angular-loading-bar/build/loading-bar.js"></script>
<script src="/bower_components/angular-bootstrap-lightbox/dist/angular-bootstrap-lightbox.js"></script>
<script src="/jakduk/js/jakduk.js"></script>

<script src="/bower_components/angular-i18n/angular-locale_{{locale}}.js"></script>

<script type="text/javascript">
  angular.module("jakdukApp", [
    "infinite-scroll", "angularLazyImg", "ui.bootstrap", "bootstrapLightbox", 'jakdukCommon'
  ]).config(['LightboxProvider', function (LightboxProvider) {
    LightboxProvider.templateUrl = "/jakduk/template/lightbox-gallery.html";

    LightboxProvider.getImageUrl = function (image) {
      return '{{thumbnailServerUrl}}/gallery/' + image.id;
    };

    LightboxProvider.getImageCaption = function (image) {
      return image.name;
    };

    LightboxProvider.calculateImageDimensionLimits = function (dimensions) {
      if (dimensions.windowWidth >= 768) {
        return {
          // 92px = 2 * (30px margin of .modal-dialog
          //             + 1px border of .modal-content
          //             + 15px padding of .modal-body)
          // with the goal of 30px side margins; however, the actual side margins
          // will be slightly less (at 22.5px) due to the vertical scrollbar
          'maxWidth': dimensions.windowWidth - 92,
          'maxHeight': dimensions.windowHeight - 180
        };
      } else {
        return {
          // 52px = 2 * (10px margin of .modal-dialog
          //             + 1px border of .modal-content
          //             + 15px padding of .modal-body)
          'maxWidth': dimensions.windowWidth - 52,
          'maxHeight': dimensions.windowHeight - 130
        };
      }
    };

    // the modal height calculation has to be changed since our custom template is
    // taller than the default template
    LightboxProvider.calculateModalDimensions = function (dimensions) {
      var width = Math.max(400, dimensions.imageDisplayWidth + 32);

      if (width >= dimensions.windowWidth - 20 || dimensions.windowWidth < 768) {
        width = 'auto';
      }

      return {
        'width': width,                             // default
        'height': 'auto'                            // custom
      };
    };
  }]).controller("galleryCtrl", [
    '$scope', '$http', '$window', 'Lightbox',
  function ($scope, $http, $window, Lightbox) {
    $scope.galleriesConn = "none";
    $scope.galleries = [];
    $scope.usersLikingCount = [];
    $scope.usersDislikingCount = [];
    $scope.infiniteDisabled = false;
    $scope.enterAlert = "";
    $scope.moreAlert = {};

    // infiniteScroll
    $scope.infiniteScroll = function () {
      $scope.getGalleries("init");
      $scope.infiniteDisabled = true;
    };

    // 사진 가져오기.
    $scope.getGalleries = function (type, galleryId) {
      var query;

      if (galleryId) {
        query = 'id=' + galleryId + '&size=' + Jakduk.ItemsPerPageOnGallery;
      } else {
        query = 'size=' + Jakduk.ItemsPerPageOnGallery;
      }

      if ($scope.galleriesConn === "none") {
        $scope.galleriesConn = "connecting";
        $http.get('{{apiServerUrl}}/galleries?' + query).then(function (response) {
          var data = response.data;

          if (data.galleries.length < 1) { // 댓글이 하나도 없을때
            if (type === "init") {
            } else {
              $scope.moreAlert.msg = '{{TRANSLATION "gallery.msg.there.are.no.new.galleries"}}';
            }
          } else {
            data.galleries.forEach(function (gallery) {
              $scope.galleries.push(gallery);
            });

            angular.forEach(data.usersLikingCount, function (value, key) {
              $scope.usersLikingCount[key] = value;
            });

            angular.forEach(data.usersDislikingCount, function (value, key) {
              $scope.usersDislikingCount[key] = value;
            });
          }

          $scope.galleriesConn = "none";
        }, function (response) {
          var data = response.data;
          $scope.galleriesConn = "none";
          console.error(data.message);
        });
      }
    };

    // 사진 더보기 단추.
    $scope.btnMoreGalleries = function () {
      if ($scope.galleries.length > 0) {
        var lastGallery = $scope.galleries[$scope.galleries.length - 1].id;
        $scope.getGalleries("more", lastGallery);
      } else {
        $scope.getGalleries("more");
      }
    };

    $scope.openLightboxModal = function (index) {
      Lightbox.index = 0;
      Lightbox.openModal($scope.galleries, index);
    };

    $scope.btnEnter = function () {
      var isValid = true;

      if ($scope.searchWords.trim() < 1) {
        $scope.enterAlert = '{{TRANSLATION "search.msg.enter.words.you.want.search.words"}}';
        isValid = false;
      }

      if (isValid) {
        $window.location = '/search?q=' + $scope.searchWords.trim() + '&w=GA;';
      }
    };
  }]).controller("LightboxCtrl", ['$scope', '$window', 'Lightbox', function ($scope, $window, Lightbox) {
    $scope.openNewTab = function () {
      $window.open(Lightbox.imageUrl);
    };
  }]);

  $(document).ready(function () {
    App.init();
  });
</script>
