<div class="wrapper" ng-controller="resetPasswordCtrl">
  <div class="container content">
    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <div class="clearfix">
          <div class="dropdown pull-right">
            <button type="button" id="menus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-link dropdown-toggle">
              <i class="fa fa-globe"></i> {{TRANSLATION "common.language"}}
            </button>
            <ul aria-labelledby="menus" class="dropdown-menu">
              <li><a href="?lang=ko-KR">{{TRANSLATION "common.language.korean"}}</a></li>
              <li><a href="?lang=en-US">{{TRANSLATION "common.language.english"}}</a></li>
            </ul>
          </div>
        </div>

        <form action="/password/reset" class="reg-page" name="resetForm" method="POST" ng-submit="onSubmit($event)">
          <input id="code" name="code" type="hidden" value="{{code}}">

          <div class="reg-header">
            <p>
              <a class="logo" href="/">
                {{#if (EQ locale 'ko-KR')}}
                  <img src="/assets/jakduk/img/logo_type_A_kr.png" alt="Logo" class="center-block">
                {{else}}
                  <img src="/assets/jakduk/img/logo_type_A_en.png" alt="Logo" class="center-block">
                {{/if}}
              </a>
            </p>
            <h2>{{TRANSLATION "user.msg.reset.your.password.title"}}</h2>
          </div>

          <div class="form-group">
            <h4 class="text-center">{{subject}}</h4>
            <p>{{TRANSLATION "user.msg.input.new.password"}}</p>

            <div class="input-group has-feedback"
              ng-class="{'has-success':resetForm.password.$valid, 'has-error':!resetForm.password.$pristine && resetForm
              .password.$invalid}">
              <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>

              <input type="password" name="password" class="form-control" placeholder='{{TRANSLATION "user.placeholder.new.password"}}'
                ng-model="password" ng-keyup="validationPassword()"
                ng-required="true" ng-minlength="passwordLengthMin" ng-maxlength="passwordLengthMax" autofocus/>

              <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':resetForm.password.$valid, 'glyphicon-remove':!resetForm.password.$pristine && resetForm.password.$invalid}"></span>
            </div>
            <span ng-class="passwordAlert.classType" ng-show="passwordAlert.msg" ng-bind="passwordAlert.msg"></span>
          </div>

          <button type="submit" class="btn btn-u rounded btn-block ladda-button" ladda="btnSubmit" data-style="expand-right">
            {{TRANSLATION "common.button.user.password.update"}}
          </button>

          <button type="button" class="btn btn-info btn-block rounded" onclick="window.location='/login'">
            {{TRANSLATION "common.button.back.to.login"}}
          </button>
        </form>
      </div>
    </div><!--/row-->
  </div>

  {{> footer}}

</div><!-- /.container -->
{{#CHUNK 'js'}}
  <script type="text/javascript">
    require([
      'angular', 'jakduk'
    ], function (angular, Jakduk) {
      angular.module("jakdukApp", ["angular-ladda", 'jakdukCommon'])
        .controller("resetPasswordCtrl", function ($scope) {
          $scope.passwordLengthMin = Jakduk.FormPasswordLengthMin;
          $scope.passwordLengthMax = Jakduk.FormPasswordLengthMax;

          $scope.passwordAlert = {};

          $scope.onSubmit = function (event) {
            if ($scope.resetForm.$valid) {
              $scope.btnSubmit = true;
            } else {
              $scope.validationPassword();
              event.preventDefault();
            }
          };

          $scope.validationPassword = function () {
            if ($scope.resetForm.password.$invalid) {
              if ($scope.resetForm.password.$error.required) {
                $scope.passwordAlert = {
                  "classType": "text-danger",
                  "msg": '{{TRANSLATION "common.msg.required"}}'
                };
              } else if ($scope.resetForm.password.$error.minlength || $scope.resetForm.password.$error.maxlength) {
                $scope.passwordAlert = {
                  "classType": "text-danger",
                  "msg": '{{TRANSLATION "Size.userWrite.password"}}'
                };
              }
            } else {
              $scope.passwordAlert = {
                "classType": "text-success",
                "msg": '{{TRANSLATION "user.msg.available.data"}}'
              };
            }
          };
        });

      angular.bootstrap(document, ['jakdukApp']);
    });
  </script>
{{/CHUNK}}
