<div class="wrapper" ng-controller="resetPasswordCtrl">

  {{> navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left">{{TRANSLATION "user.sign.forgot.password"}}</h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <div class="container content">

    <div class="row">
      <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
        <form action="/password/find" name="resetForm" class="reg-page" method="POST" ng-submit="onSubmit($event)">
          <div class="reg-header">
            <h2>{{TRANSLATION "user.msg.find.your.password.title"}}</h2>
          </div>
          <p>{{TRANSLATION "user.msg.find.your.password"}}</p>

          <div class="form-group">
            <div class="input-group has-feedback" ng-class="{'has-success':resetForm.email.$valid, 'has-error':!resetForm.email.$pristine && resetForm.email.$invalid}">
              <span class="input-group-addon"><i class="fa fa-at fa-fw"></i></span>

              <input type="email" class="form-control" name="email" placeholder="{{TRANSLATION "user.placeholder.email"}}"
                ng-model="email" ng-keyup="validationEmail()"
                ng-required="true" ng-minlength="emailLengthMin" ng-maxlength="emailLengthMax"/>

              <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':resetForm.email.$valid, 'glyphicon-remove':!resetForm.email.$pristine && resetForm.email.$invalid}"></span>
            </div>
            <span ng-class="emailAlert.classType" ng-show="emailAlert.msg" ng-bind="emailAlert.msg"></span>
          </div>

          <button type="submit" class="btn btn-u rounded btn-block ladda-button" ladda="btnSubmit" data-style="expand-right">
            {{TRANSLATION "common.button.send.mail"}}
          </button>

          <button type="button" class="btn btn-info btn-block rounded" onclick="window.location='/login'">
            {{TRANSLATION "common.button.back.to.login"}}
          </button>
        </form>
      </div>
    </div><!--/row-->
  </div>

  {{> footer}}

</div><!-- /.container -->
{{#CHUNK 'css'}}
  <link rel="stylesheet" href="/static/unify/assets/css/pages/page_log_reg_v1.css"/>
{{/CHUNK}}
{{#CHUNK 'js'}}
  <script type="text/javascript">
    require([
      'angular', 'jakduk'
    ], function (angular, Jakduk) {
      angular.module("jakdukApp", ["angular-ladda", 'jakdukCommon'])
        .controller("resetPasswordCtrl", function ($scope) {
          $scope.emailLengthMin = Jakduk.FormEmailLengthMin;
          $scope.emailLengthMax = Jakduk.FormEmailLengthMax;

          $scope.emailAlert = {};

          $scope.onSubmit = function (event) {
            if ($scope.resetForm.$valid) {
              $scope.btnSubmit = true;
            } else {
              $scope.validationEmail();
              event.preventDefault();
            }
          };

          $scope.validationEmail = function () {
            if ($scope.resetForm.email.$invalid) {
              if ($scope.resetForm.email.$error.required) {
                $scope.emailAlert = {"classType": "text-danger", "msg": '{{TRANSLATION "common.msg.required"}}'};
              } else if ($scope.resetForm.email.$error.minlength || $scope.resetForm.email.$error.maxlength) {
                $scope.emailAlert = {
                  "classType": "text-danger",
                  "msg": '{{TRANSLATION "Size.userWrite.email"}}'
                };
              } else {
                $scope.emailAlert = {
                  "classType": "text-danger",
                  "msg": '{{TRANSLATION "user.msg.check.mail.format"}}'
                };
              }
            } else {
              $scope.emailAlert = {};
            }
          };
        });

      angular.bootstrap(document, ['jakdukApp']);
    });
  </script>
{{/CHUNK}}
