<!DOCTYPE html>
<!--[if IE 9]><html lang="{{locale}}" class="ie9" ng-app="jakdukApp"><![endif]-->
<!--[if !IE]><!--><html lang="{{locale}}" ng-app="jakdukApp"><!--<![endif]-->
  <head>
    <title>{{{TITLE title}}}</title>
    {{> head_common}}
    {{#if head_page}}
      {{> (lookup . 'head_page')}}
    {{/if}}
  </head>

  <body class="{{bodyClass}}">
    {{{body}}}
  </body>
</html>
