<div id="footer-v3" class="footer-v3">
	<div class="footer">
		<div class="container">
			<div class="row">
				<!-- About -->
				<div class="col-sm-3 md-margin-bottom-20">
					<a href="/">
            {{#if (EQ locale 'ko')}}
              <img id="logo-footer" class="footer-logo" src="/jakduk/img/logo_type_B_kr.png" alt="footer-logo">
            {{else}}
              <img id="logo-footer" class="footer-logo" src="/jakduk/img/logo_type_B_en.png" alt="footer-logo">
            {{/if}}
					</a>
					<p>{{TRANSLATION "common.jakduk.description"}}</p>
				</div> <!--/col-md-3-->
				<!-- End About -->

            <!-- Simple List -->
            <div class="col-sm-3">
                <div class="thumb-headline"><h2>{{TRANSLATION "about"}}</h2></div>
                <ul class="list-unstyled simple-list margin-bottom-20">
                    <li><a href="/about">{{TRANSLATION "about.site"}}</a></li>
                    <li><a href="/board/free/98">{{TRANSLATION "about.site.use.guide"}}</a></li>
                </ul>

                <div class="thumb-headline"><h2>{{TRANSLATION "search"}}</h2></div>
                <ul class="list-unstyled simple-list margin-bottom-20">
                    <li><a href="/search">{{TRANSLATION "search"}}</a></li>
                </ul>
            </div><!--/col-md-3-->

            <div class="col-sm-3">
                <div class="thumb-headline"><h2>{{TRANSLATION "board"}}</h2></div>
                <ul class="list-unstyled simple-list margin-bottom-20">
                    <li><a href="/board/free">{{TRANSLATION "board.name.free"}}</a></li>
                </ul>

                <div class="thumb-headline"><h2>{{TRANSLATION "gallery"}}</h2></div>
                <ul class="list-unstyled simple-list">
                    <li><a href="/gallery">{{TRANSLATION "gallery.list"}}</a></li>
                </ul>
            </div><!--/col-md-3-->

            <div class="col-sm-3">
              <div class="thumb-headline"><h2>{{TRANSLATION "stats"}}</h2></div>
              <ul class="list-unstyled simple-list">
                  <li><a href="/stats/supporters">{{TRANSLATION "stats.supporters"}}</a></li>
                  <li><a href="/stats/attendance/league">{{TRANSLATION "stats.attendance"}}</a></li>
              </ul>

              <div class="thumb-headline"><h2>{{TRANSLATION "jakdu"}}</h2></div>
              <ul class="list-unstyled simple-list">
                  <li><a href="/jakdu">{{TRANSLATION "jakdu.schedule"}}</a></li>
              </ul>
            </div><!--/col-md-3-->
          </div>
        </div>
    </div><!--/footer-->

    <div class="copyright">
        <div class="container">
            <div class="row">
                <!-- Terms Info-->
                <div class="col-md-8">
                    <p>
						          <a href="https://github.com/Pyohwan/JakduK"><i class="fa fa-github"></i> {{TRANSLATION "common.button.github"}}</a> |
                      <a href="https://jakduk.slack.com"><i class="fa fa-slack"></i> {{TRANSLATION "common.button.slack"}}</a> |
						          <a href="mailto:phjang1983@daum.net"><i class="fa fa-envelope-o"></i> {{TRANSLATION "common.button.mail.to.administrator"}}</a>
                    </p>
                </div>
                <!-- End Terms Info-->

                <!-- Social Links -->
                <div class="col-md-4">
                    <ul class="social-icons pull-right">
                        <li><a href="/rss" data-original-title="Rss" class="rounded-x social_rss"></a></li>
                    </ul>
                </div>
                <!-- End Social Links -->
            </div>
        </div>
    </div><!--/copyright-->
</div>
