<div class="wrapper" ng-controller="homeCtrl">

  {{> navigation}}

  <div class="image-block">
    <div class="container mCustomScrollbar" data-mcs-theme="minimal-dark">
      <div class="company-description">{{{data.homeDescription.desc}}}</div>
    </div>
  </div>

  <!--=== Content Part ===-->
  <div class="container content">

    <!-- 인기 검색어 -->
    <div class="row margin-bottom-25">
      <div class="col-sm-12">
        <div class="headline">
          <h4>{{TRANSLATION 'popular.search.words'}}</h4>
        </div>
        {{#each data.popularSearchWords}}
          <a href="/search?q={{key}}&w=PO;CO;GA;" style="margin-bottom:5px;" class="btn btn-default btn-sm">
            <strong>
              <span>{{ADD @index 1}}</span>.
            </strong>
            &nbsp;{{key}}
          </a>
        {{/each}}
      </div>
    </div>

    <div class="row">

      <div class="col-md-9">
        <div class="row ">

          <!--  최근 글 -->
          <div class="col-sm-6 sm-margin-bottom-30">
            <div class="headline">
              <h4>{{TRANSLATION "home.posts.latest"}}</h4>
              <a class="btn-u btn-u-xs btn-u-default rounded pull-right" style="margin: 5px;" href="/board/free">
                {{TRANSLATION "common.button.more"}}
              </a>
            </div>

            {{#if data.posts.length}}
              <ul class="list-unstyled blog-trending">
                {{#each data.posts}}
                  <li>
                    <h5 style="font-weight: 500;">
                      <a href="/board/free/{{seq}}">{{TERNARY status.delete (TRANSLATION "board.msg.deleted") subject}}</a>
                      <br>
                      <small>
                        <span aria-hidden="true" class="icon-user"></span> {{writer.username}}
                        &middot;
                        {{DATE_FORMAT (DATE_BY_ID id) (TERNARY (OPR '>' ../todayDate (DATE_BY_ID id)) 'LL' 'LT')}}
                        &middot;
                        <span aria-hidden="true" class="icon-eye"></span> {{views}}
                      </small>
                    </h5>
                  </li>
                {{/each}}
              </ul>
            {{/if}}
          </div>

          <!-- 최근 댓글  -->
          <div class="col-sm-6 sm-margin-bottom-30">
            <div class="headline">
              <h4 class>{{TRANSLATION "home.comments.latest"}}</h4>
              <a class="btn-u btn-u-xs btn-u-default rounded pull-right" style="margin: 5px;" href="/board/free/comments">
                {{TRANSLATION "common.button.more"}}
              </a>
            </div>

            {{#if data.comments.length}}
              <div class="blog-twitter">
                {{#each data.comments}}
                  <div class="blog-twitter-inner">
                    <strong><i aria-hidden="true" class="icon-user"></i> {{writer.username}}</strong> &middot;
                    <a href="/board/free/{{boardItem.seq}}">{{content}}</a>
                    <span class="twitter-time" >{{DATE_FORMAT (DATE_BY_ID id) (TERNARY (OPR '>' ../todayDate (DATE_BY_ID id)) 'LL' 'LT')}}</span>
                  </div>
                {{/each}}
              </div>
            {{/if}}

          </div>
        </div>
      </div>
      <!-- End Left Sidebar -->

      <!-- Right Sidebar -->
      <div class="col-md-3">

        <div class="row">

          <!-- 최근 가입 회원 -->
          <div class="margin-bottom-30 col-md-12 col-sm-6">
            <div class="headline"><h4>{{TRANSLATION "home.members.registered.latest"}}</h4></div>

            <div class="carousel slide testimonials testimonials-v2" id="testimonials-1">
              <div class="carousel-inner">
                <div class="item" ng-repeat="user in usersLatest" ng-class="{'active':$index == 0}">
                  <p ng-bind="user.about"></p>
                  <div class="testimonial-info">
                    <span class="testimonial-author">
                      <i aria-hidden="true" class="icon-user-follow"></i>
                      <span class="latest-user-name" ng-bind="user.username"></span>
                      <em class="latest-user-club">
                        <i class="fa fa-futbol-o"></i>
                        <span ng-bind="user.supportFC.names[0].fullName"></span>
                      </em>
                    </span>
                  </div>
                </div>
              </div>

              <div class="carousel-arrow">
                <a data-slide="prev" href="#testimonials-1" class="left carousel-control">
                  <i class="fa fa-angle-left"></i>
                </a>
                <a data-slide="next" href="#testimonials-1" class="right carousel-control">
                  <i class="fa fa-angle-right"></i>
                </a>
              </div>
            </div>

          </div>


          <!--  백과사전  -->
          <div class="shadow-wrapper col-md-12 col-sm-6">
            <h4>백과사전</h4>
            <div class="tag-box tag-box-v1 box-shadow shadow-effect-2">
              <h4>
                <span ng-bind="encyclopedia.subject"></span>
                <span class="label rounded label-orange" ng-bind="encyclopedia.kind"></span>
              </h4>
              <p ng-bind="encyclopedia.content"></p>
              <!--
              <button class="btn-u btn-brd btn-brd-hover rounded btn-u-sea" type="button" ng-click="refreshEncyclopedia()">
                <i class="fa fa-refresh"></i>
              </button>
              -->
            </div>
          </div>
        </div>

      </div>
      <!-- End Right Sidebar -->
    </div>

    <!-- 최근 사진 -->
    <div class="headline">
      <h4>{{TRANSLATION "home.pictures.latest"}}</h4>
      <a class="btn-u btn-u-xs btn-u-default rounded pull-right" style="margin: 5px;" href="/gallery">
        {{TRANSLATION "common.button.more"}}
      </a>
    </div>
    <div class="container-fluid">
      <div class="customNavigation text-center margin-bottom-10">
        <a class="owl-btn prev-v2" id="slickPrev"><i class="fa fa-angle-left"></i></a>
        <a class="owl-btn next-v2" id="slickNext"><i class="fa fa-angle-right"></i></a>
      </div>
      <slick settings="slickConfig" ng-if="dataLoaded">
        <div ng-repeat="image in galleriesLatest" class="thumbnail" style="max-width: 260px;">
          <a ng-href="/gallery/{%image.id%}">
            <img class="img-home-carousel" ng-src="{{thumbnailServerUrl}}/gallery/thumbnail/{%image.id%}">
            <h5 class="text-center text-overflow">
              <span ng-bind="image.name"></span>
            </h5>
          </a>
        </div>
      </slick>
    </div>

  </div><!--/container-->
  <!--=== End Content Part ===-->

  {{> footer}}

</div><!-- /.container -->
{{#CHUNK 'css'}}
  <link rel="stylesheet" href="/static/bower_components/slick-carousel/slick/slick.css">
  <link rel="stylesheet" href="/static/bower_components/slick-carousel/slick/slick-theme.css">
  <link rel="stylesheet" href="/static/unify/assets/css/pages/page_job_inner.css">
  <link rel="stylesheet" href="/static/unify/assets/css/pages/profile.css">
{{/CHUNK}}
{{#CHUNK 'js'}}
  <script>
    require([
      'angular', 'jakduk', 'slick', 'angular-slick'
    ], function(angular) {
      angular.module('jakdukApp', [
        'ngSanitize',
        'slickCarousel',
        'jakdukCommon'
      ]).controller("homeCtrl", ['$scope', function ($scope) {
        $scope.dataLoaded = true;
        $scope.encyclopediaConn = 'none';
        $scope.usersLatest = angular.fromJson('{{{JSON_STRINGIFY data.users}}}');
        $scope.galleriesLatest = angular.fromJson('{{{JSON_STRINGIFY data.galleries}}}');
        $scope.encyclopedia = angular.fromJson('{{{JSON_STRINGIFY data.encyclopedia}}}');
        $scope.slickConfig = {
          infinite: false,
          autoplay: true,
          draggable: true,
          autoplaySpeed: 3000,
          prevArrow: '#slickPrev',
          nextArrow: '#slickNext',
          variableWidth: true,
          lazyLoad: 'ondemand',
          method: {},
          event: {
            beforeChange: function (event, slick, currentSlide, nextSlide) {
            },
            afterChange: function (event, slick, currentSlide, nextSlide) {
            }
          }
        };
      }]);

      angular.bootstrap(document, ['jakdukApp']);
    });
  </script>
{{/CHUNK}}
