<div class="wrapper" ng-controller="jakduCtrl">

  {{> navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left"><a href="/jakdu">{{TRANSLATION "jakdu.schedule"}}</a></h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <!--=== Content Part ===-->
  <div class="container content">

    <div class="alert alert-info">
      {{TRANSLATION "common.msg.test.version"}}
    </div>

    <!-- Top Buttons -->
    <div class="row">
      <div class="col-sm-6 margin-bottom-10">
        <button type="button" class="btn-u btn-brd rounded" onclick="location.href='/jakdu/write'" tooltip-popup-close-delay='300' uib-tooltip='{{TRANSLATION "board.write"}}'>
        <span aria-hidden="true" class="icon-pencil"></span>
        </button>
      </div>
    </div>
    <!-- End Top Buttons -->

    <div class="panel panel-default" ng-repeat="schedule in schedules">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-8">
            {%schedule.date | date:'medium'%}
          </div>
          <div class="col-xs-4">
            {%competitionNames[schedule.competition.id].fullName%}
          </div>
        </div>
      </div> <!-- /panel-heading -->

      <ul class="list-group">
        <li class="list-group-item">
          <div class="row">
            <div class="col-xs-3">
              <span class="visible-xs">{%fcNames[schedule.home.id].shortName%}</span>
              <span class="hidden-xs">{%fcNames[schedule.home.id].fullName%}</span>
            </div>
            <div class="col-xs-3">
              <strong>{%schedule.score.homeFullTime%}</strong>
              <span class="color-grey" ng-if="schedule.timeUp">{{TRANSLATION "jakdu.match.state.timeup"}}</span>
              <span class="color-grey" ng-if="!schedule.timeUp">{{TRANSLATION "jakdu.match.state.schedule"}}</span>
              <strong>{%schedule.score.awayFullTime%}</strong>
            </div>
            <div class="col-xs-3">
              <span class="visible-xs">{%fcNames[schedule.away.id].shortName%}</span>
              <span class="hidden-xs">{%fcNames[schedule.away.id].fullName%}</span>
            </div>
            <div class="col-xs-3">
              <button type="button" class="btn-u btn-u-xs rounded" ng-click="btnGoJakdu(schedule.id)" tooltip-popup-close-delay='300' uib-tooltip='{{TRANSLATION "board.write"}}'>
                {{TRANSLATION "common.button.view"}}
              </button>
            </div>
          </div>
        </li>
      </ul>

    </div>


  </div> <!--=== End Content Part ===-->

  {{> footer}}

</div>

{{#CHUNK 'js'}}
  <script type="text/javascript">
    require(['angular', 'jakduk'], function (angular) {
      var jakdukApp = angular.module("jakdukApp", ["ui.bootstrap", 'jakdukCommon']);

      jakdukApp.controller('jakduCtrl', function ($scope, $http) {
        var page = 1;
        var size = 20;

        $scope.dataSchedulesConn = "none";
        $scope.schedules = [];
        $scope.fcNames = [];
        $scope.competitionNames = [];

        $scope.getDataSchedulesList = function (page, size) {
          if ($scope.dataSchedulesConn == "none") {
            $scope.dataSchedulesConn = "loading";

            $http.get('{{apiServerUrl}}/jakdu/schedule?page=' + page + '&size=' + size).then(function (response) {
              var data = response.data;

              if (data.schedules != null) {
                $scope.schedules = data.schedules;
              }

              if (data.fcNames != null) {
                $scope.fcNames = data.fcNames;
              }

              if (data.competitionNames != null) {
                $scope.competitionNames = data.competitionNames;
              }

              $scope.dataSchedulesConn = "none";
            }, function () {
              $scope.dataSchedulesConn = "none";
              $scope.error = '{{TRANSLATION "common.msg.error.network.unstable"}}';
            });
          }
        };

        $scope.btnGoJakdu = function (id) {
          location.href = '/jakdu/' + id;
        };

        $scope.getDataSchedulesList(page, size);
      });

      $(function () {
        App.init();
      });

      angular.bootstrap(document, ['jakdukApp']);
    });
  </script>
{{/CHUNK}}