<div class="wrapper" ng-controller="searchCtrl">

  {{> navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left"><a href="/search">{{TRANSLATION "search"}}</a></h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <div class="search-block-v2">
    <div class="container">
      <div class="col-md-6 col-md-offset-3 margin-bottom-10">
        <div class="input-group">
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="where.posts"> {{TRANSLATION "search.post"}}
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="where.comments"> {{TRANSLATION "search.comment"}}
          </label>
          <label class="checkbox-inline">
            <input type="checkbox" ng-model="where.galleries"> {{TRANSLATION "search.gallery"}}
          </label>
        </div>
        <span class="text-danger" ng-show="whereAlert" ng-bind="whereAlert"></span>
      </div>
      <div class="col-md-6 col-md-offset-3">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchWords" ng-keypress="($event.which === 13)?btnEnter():return" placeholder='{{TRANSLATION "search.placeholder.words"}}'>
          <span class="input-group-btn">
            <button class="btn-u ladda-button" type="button" ng-click="btnEnter();" ladda="btnSearch" data-style="expand-right">
					    <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
        <span class="text-danger" ng-show="enterAlert" ng-bind="enterAlert"></span>
      </div>
    </div>
  </div>

  <!--=== Content Part ===-->
  <div class="container s-results">
    <!-- search results of post -->
    <div class="margin-bottom-10" ng-show="posts.hits">
      <span class="results-number">{{{TRANSLATION "search.post.results" n="<span ng-bind=\"posts.hits.total\"></span>"}}}</span>

      <!-- Begin Inner Results -->
      <div ng-repeat="hit in posts.hits.hits">
        <div class="inner-results">
          <h3 ng-if="hit.highlight.subject.length">
            <a href="/board/free/{%hit._source.seq%}" ng-bind-html="hit.highlight.subject[0]"></a>
          </h3>
          <h3 ng-if="!hit.highlight.subject.length">
            <a href="/board/free/{%hit._source.seq%}" ng-bind="hit._source.subject"></a></h3>
          <p ng-if="hit.highlight.content.length" ng-bind-html="hit.highlight.content[0]"></p>
          <p ng-if="!hit.highlight.content.length">{%hit.fields.content_preview[0]%}</p>
          <ul class="list-inline down-ul">
            <li><i aria-hidden="true" class="icon-user"></i> <span ng-bind="hit._source.writer.username"></span></li>
            <li ng-bind="hit._id | dateFromObjectId | date:'medium'"></li>
            <li></li>
          </ul>
        </div>
        <hr class="padding-5"/>
      </div>
    </div>

    <div class="text-left" ng-show="posts.hits.total">
      <uib-pagination ng-model="currentPage" total-items="posts.hits.total" max-size="10" items-per-page="itemsPerPage"
        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged()" ng-show="whereSize ===
        1"></uib-pagination>

      <div class="text-right col-md-12 margin-bottom-10" ng-show="whereSize > 1">
        <ul class="list-unstyled">
          <li><a ng-href="/search?q={%searchWords.trim()%}&w=PO;">
            {{TRANSLATION "search.more.post.results"}}
            <i class="fa fa-chevron-right"></i>
          </a></li>
        </ul>
      </div>
    </div>

    <!-- search results of post -->
    <div class="margin-bottom-10" ng-show="comments.hits">
      <span class="results-number">{{{TRANSLATION "search.comment.results" n="<span ng-bind=\"comments.hits.total\"></span>"}}}</span>

      <div ng-repeat="hit in comments.hits.hits">
        <div class="inner-results">
          <ul class="list-inline up-ul">
            <li><i aria-hidden="true" class="icon-user"></i> <span ng-bind="hit._source.writer.username"></span></li>
            <li ng-bind="hit._id| dateFromObjectId | date:'medium'"></li>
          </ul>
          <p>
            <a href="/board/free/{%hit._source.boardItem.seq%}" ng-bind-html="hit.highlight.content[0]"></a>
          </p>
          <ul class="list-inline up-ul text-overflow">
            <li>
              <a href="/board/free/{%hit._source.boardItem.seq%}">
                {{TRANSLATION "board.subject"}} : <span ng-bind="postsHavingComments[hit._source.boardItem.id].subject"></span>
              </a>
            </li>
          </ul>

        </div>
        <hr class="padding-5"/>
      </div>
    </div>

    <div class="text-left" ng-show="comments.hits.total">
      <uib-pagination ng-model="currentPage" total-items="comments.hits.total" max-size="10" items-per-page="itemsPerPage"
        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged()" ng-show="whereSize === 1"></uib-pagination>

      <div class="text-right col-md-12 margin-bottom-10" ng-show="whereSize > 1">
        <ul class="list-unstyled">
          <li>
            <a ng-href="/search?q={%searchWords.trim()%}&w=CO;">
              {{TRANSLATION "search.more.comment.results"}} <i class="fa fa-chevron-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <!-- search results of gallery -->
    <div ng-show="galleries.hits">
      <span class="results-number">{{{TRANSLATION "search.gallery.results" n="<span ng-bind=\"galleries.hits.total\"></span>"}}}</span>

      <div class="row">
        <!-- Begin Easy Block v2 -->
        <div class="col-md-3 col-sm-4 col-xs-6 md-margin-bottom-10" ng-repeat="hit in galleries.hits.hits">
          <div class="thumbnail">
            <img class="cursor-pointer" ng-src="{{thumbnailServerUrl}}/gallery/thumbnail/{%hit._id%}"
              alt="{%hit._source.name%}" ng-click="openLightboxModal($index)">
            <div class="caption text-center">
              <a ng-href="/gallery/{%hit._id%}" ng-bind-html="hit.highlight.name[0]"></a>
            </div>
          </div>
        </div>
        <!-- End Simple Block -->
      </div>
    </div>

    <div class="text-left" ng-show="galleries.hits.total">
      <uib-pagination ng-model="currentPage" total-items="galleries.hits.total" max-size="10" items-per-page="itemsPerPageGallery"
        previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged()" ng-show="whereSize == 1"></uib-pagination>

      <div class="text-right col-md-12 margin-bottom-10" ng-show="whereSize > 1">
        <ul class="list-unstyled">
          <li>
            <a ng-href="/search?q={%searchWords.trim()%}&w=GA;">{{TRANSLATION "search.more.gallery.results"}}
              <i class="fa fa-chevron-right"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div><!--/container-->
  <!--=== End Content Part ===-->

  {{> footer}}

</div><!-- /.container -->
{{#CHUNK 'js'}}
  <script type="text/javascript">
    require([
      'angular',
      'jakduk',
      'angular-bootstrap-lightbox'
    ], function (angular, Jakduk) {
      angular.module("jakdukApp", [
        "ngSanitize", "ui.bootstrap", "bootstrapLightbox", "angular-ladda", 'jakdukCommon'
      ]).config(['LightboxProvider', function (LightboxProvider) {
        LightboxProvider.templateUrl = "/jakduk/template/lightbox-search.html";

        LightboxProvider.getImageUrl = function (image) {
          return '{{thumbnailServerUrl}}/gallery/' + image._id;
        };

        LightboxProvider.getImageCaption = function (image) {
          return image._source.name;
        };

        LightboxProvider.calculateImageDimensionLimits = function (dimensions) {
          if (dimensions.windowWidth >= 768) {
            return {
              // 92px = 2 * (30px margin of .modal-dialog
              //             + 1px border of .modal-content
              //             + 15px padding of .modal-body)
              // with the goal of 30px side margins; however, the actual side margins
              // will be slightly less (at 22.5px) due to the vertical scrollbar
              'maxWidth': dimensions.windowWidth - 92,
              'maxHeight': dimensions.windowHeight - 180
            };
          } else {
            return {
              // 52px = 2 * (10px margin of .modal-dialog
              //             + 1px border of .modal-content
              //             + 15px padding of .modal-body)
              'maxWidth': dimensions.windowWidth - 52,
              'maxHeight': dimensions.windowHeight - 130
            };
          }
        };

        // the modal height calculation has to be changed since our custom template is
        // taller than the default template
        LightboxProvider.calculateModalDimensions = function (dimensions) {
          var width = Math.max(400, dimensions.imageDisplayWidth + 32);

          if (width >= dimensions.windowWidth - 20 || dimensions.windowWidth < 768) {
            width = 'auto';
          }

          return {
            'width': width,                             // default
            'height': 'auto'                            // custom
          };
        };
      }]).controller("searchCtrl", [
        '$scope', '$http', '$location', '$window', 'Lightbox',
      function ($scope, $http, $location,$window, Lightbox) {
        var from = parseInt('{{from}}' || 0);
        var where = "{{w}}";
        var size = $scope.itemsPerPage;

        $scope.searchWords = '{{q}}';
        $scope.resultsConn = "none";
        $scope.galleriesConn = "none";
        $scope.where = {};
        $scope.whereSize = 0;
        $scope.posts = {};
        $scope.comments = {};
        $scope.postsHavingComments = {};
        $scope.galleries = {};
        $scope.itemsPerPage = Jakduk.ItemsPerPageOnSearch;
        $scope.itemsPerPageGallery = Jakduk.ItemsPerPageOnSearchGallery;
        $scope.isGalleryOnly = false;
        $scope.whereAlert = "";
        $scope.enterAlert = "";
        $scope.btnSearch = false;

        if (!Jakduk.isEmpty(where)) {
          var arrW = where.split(";");

          $scope.whereSize = arrW.length - 1;

          for (var i = 0; i < arrW.length; i++) {
            var tempW = arrW[i];

            if (tempW == "PO") {
              $scope.where.posts = true;
            }
            if (tempW == "CO") {
              $scope.where.comments = true;
            }
            if (tempW == "GA") {
              $scope.where.galleries = true;
            }
          }
        } else {
          $scope.where = {posts: false, comments: false, galleries: false};
        }

        if ($scope.where.galleries == true && $scope.where.posts == null && $scope.where.comments == null) {
          $scope.isGalleryOnly = true;
        }

        if (from > 0) {
          if ($scope.isGalleryOnly == true) {
            $scope.currentPage = (from + $scope.itemsPerPageGallery) / $scope.itemsPerPageGallery;
          } else {
            $scope.currentPage = (from + $scope.itemsPerPage) / $scope.itemsPerPage;
          }
        } else {
          $scope.currentPage = 1;
        }

        if ($scope.whereSize == 1) {
          if ($scope.isGalleryOnly == true) {
            size = $scope.itemsPerPageGallery;
          } else {
            size = $scope.itemsPerPage;
          }
        } else if ($scope.whereSize == 2) {
          size = 5;
        } else if ($scope.whereSize >= 3) {
          size = 3;
        }

        $scope.btnEnter = function () {
          var isValid = true;

          if ($scope.where.posts != true && $scope.where.comments != true && $scope.where.galleries != true) {
            $scope.whereAlert = '{{TRANSLATION "search.msg.you.should.select.at.least.one"}}';
            isValid = false;
          }

          if ($scope.searchWords.trim() < 1) {
            $scope.enterAlert = '{{TRANSLATION "search.msg.enter.words.you.want.search.words"}}';
            isValid = false;
          }

          if (isValid) {
            var where = "";

            if ($scope.where.posts == true) {
              where += "PO;";
            }
            if ($scope.where.comments == true) {
              where += "CO;";
            }
            if ($scope.where.galleries == true) {
              where += "GA;";
            }

            $scope.getResults(where, '', '');
          }
        };

        $scope.getResults = function (where, from, size) {

          if ($scope.searchWords.trim() < 1 ||
            ($scope.where.posts != true && $scope.where.comments != true && $scope.where.galleries != true)) {
            return;
          } else {
            $scope.whereAlert = "";
            $scope.enterAlert = "";
          }

          if ($scope.resultsConn == "none") {
            $scope.resultsConn = "loading";
            $scope.btnSearch = true;

            $http.get('{{apiServerUrl}}/search?q=' + encodeURIComponent($scope.searchWords.trim()) + '&w=' + where + '&from=' + from + '&size=' + size).then(function (response) {
              var data = response.data;
              $scope.posts = data.posts;
              $scope.comments = data.comments;
              $scope.postsHavingComments = data.postsHavingComments;
              $scope.galleries = data.galleries;
              $scope.resultsConn = "none";
              $scope.btnSearch = false;
            }, function () {
              $scope.resultsConn = "none";
              $scope.error = '{{TRANSLATION "common.msg.error.network.unstable"}}';
              $scope.btnSearch = false;
            });
          }
        };

        $scope.pageChanged = function () {
          var from = $scope.currentPage;

          if (from > 1) {
            if ($scope.isGalleryOnly == true) {
              from = (from - 1) * $scope.itemsPerPageGallery;
            } else {
              from = (from - 1) * $scope.itemsPerPage;
            }
          } else {
            from = 0;
          }

          $window.location = '/search?q=' + $scope.searchWords.trim() + '&w=' + '{{w}}' + '&from=' + from;
        };

        $scope.openLightboxModal = function (index) {
          Lightbox.openModal($scope.galleries.hits.hits, index);
        };

        $scope.getResults(where, from, size);
      }]).controller("LightboxCtrl", ['$scope', '$window', 'Lightbox', function ($scope, $window, Lightbox) {
        $scope.openNewTab = function () {
          $window.open(Lightbox.imageUrl);
        };
      }]);

      angular.bootstrap(document, ['jakdukApp']);
    });
  </script>
{{/CHUNK}}