<div class="wrapper" ng-controller="galleryCtrl">

  {{> navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left"><a href="/gallery" target="_self">{{TRANSLATION "gallery.list"}}</a></h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <div class="container">

    <div class="row">
      <div class="col-sm-6">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchWords" ng-init="searchWords=''" ng-keypress="($event.which === 13)?btnEnter():return" placeholder="{{TRANSLATION "search.placeholder.words"}}">
           <span class="input-group-btn">
             <button class="btn-u" type="button" ng-click="btnEnter();"><i class="fa fa-search"></i></button>
           </span>
        </div>
        <span class="text-danger" ng-show="enterAlert" ng-bind="enterAlert"></span>
      </div>
    </div>

    <hr class="padding-5"/>

  </div>

  <div id="gallery" style="display: none;" class="container content">
    <div class="row" ng-show="galleries" infinite-scroll="infiniteScroll()" infinite-scroll-disabled="infiniteDisabled">
      <ul class="list-unstyled">
        <li class="col-md-3 col-sm-4 col-xs-6" ng-repeat="gallery in galleries">
          <div class="thumbnail">
            <a ng-href="{{thumbnailServerUrl}}/gallery/{%gallery.id%}" data-lightbox="roundtrip" data-title="{%gallery.name%}">
              <img class="cursor-pointer" ng-src="{{thumbnailServerUrl}}/gallery/thumbnail/{%gallery.id%}" alt="{%gallery.name%}">
            </a>
            <div class="caption">
              <h5 class="text-center text-overflow">
                <a ng-href="/gallery/{%gallery.id%}" class="text-overflow text-center" ng-bind="gallery.name"></a>
              </h5>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="alert alert-info" ng-show="moreAlert.msg"><p ng-bind="moreAlert.msg"></p></div>
  </div> <!-- container end -->

  <div class="container">
    <div class="margin-bottom-10" ng-show="galleries.length > 0">
      <button type="button" class="btn-u btn-block btn-primary rounded" ng-click="btnMoreGalleries()">
        {{TRANSLATION "common.button.more.galleries"}} <i class="fa fa-angle-down"></i>
        <i class="fa fa-circle-o-notch fa-spin" ng-show="requestingState === 'connecting'"></i>
      </button>
    </div>
  </div>

  {{> footer}}

</div><!-- /.wrapper -->
{{#CHUNK 'css'}}
  <link rel="stylesheet" href="/bower_components/lightbox2/dist/css/lightbox.css">
{{/CHUNK}}
{{#CHUNK 'js'}}
  <script type="text/javascript">
    require([
      'angular',
      'jakduk',
      'lightbox2',
      'angular-infinite-scroll'
    ], function (angular, Jakduk, lightbox) {
      lightbox.option({
        imageFadeDuration: 400,
        fadeDuration: 400,
        resizeDuration: 400
      });

      angular.module("jakdukApp", [
        'infinite-scroll',
        'angularLazyImg',
        'ui.bootstrap',
        'jakdukCommon'
      ]).run(function() {
        angular.element('#gallery').css('display', 'block');
      }).controller("galleryCtrl", [
        '$scope', '$http', '$window',
        function ($scope, $http, $window) {
          $scope.requestingState = "none";
          $scope.galleries = [];
          $scope.usersLikingCount = [];
          $scope.usersDislikingCount = [];
          $scope.infiniteDisabled = true;
          $scope.enterAlert = "";
          $scope.moreAlert = {};

          // infiniteScroll
          $scope.infiniteScroll = function () {
            getGalleries('init', getLastImageId());
          };

          // 사진 더보기 단추.
          $scope.btnMoreGalleries = function () {
            getGalleries("more", getLastImageId());
          };

          $scope.btnEnter = function () {
            var isValid = true;

            if ($scope.searchWords.trim() < 1) {
              $scope.enterAlert = '{{TRANSLATION "search.msg.enter.words.you.want.search.words"}}';
              isValid = false;
            }

            if (isValid) {
              $window.location = '/search?q=' + $scope.searchWords.trim() + '&w=GA;';
            }
          };

          getGalleries('init').then(function () {
            $scope.infiniteDisabled = false;
          });

          // 사진 가져오기.
          function getGalleries(type, galleryId) {
            var query;

            if (galleryId) {
              query = 'id=' + galleryId + '&size=' + Jakduk.ItemsPerPageOnGallery;
            } else {
              query = 'size=' + Jakduk.ItemsPerPageOnGallery;
            }

            if ($scope.requestingState === "none") {
              $scope.requestingState = "connecting";

              return $http.get('{{apiServerUrl}}/galleries?' + query).then(function (response) {
                var data = response.data;

                if (!data.galleries.length) {
                  if (type !== "init") {
                    $scope.moreAlert.msg = '{{TRANSLATION "gallery.msg.there.are.no.new.galleries"}}';
                  }
                } else {
                  data.galleries.forEach(function (gallery) {
                    $scope.galleries.push(gallery);
                  });

                  angular.forEach(data.usersLikingCount, function (value, key) {
                    $scope.usersLikingCount[key] = value;
                  });

                  angular.forEach(data.usersDislikingCount, function (value, key) {
                    $scope.usersDislikingCount[key] = value;
                  });
                }

                $scope.requestingState = "none";
              }, function (response) {
                var data = response.data;
                $scope.requestingState = "none";
                console.error(data.message);
              });
            }
          }

          function getLastImageId() {
            return $scope.galleries.length && $scope.galleries[$scope.galleries.length - 1].id;
          }
        }]);

      angular.bootstrap(document, ['jakdukApp']);
    });
  </script>
{{/CHUNK}}
