<div class="wrapper">

  {{> navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left"><a href="/board/free" target="_self">{{TRANSLATION "board.name.free"}}</a></h1>
      <ul class="pull-right breadcrumb">
        <li class="active">{{TRANSLATION "board.free.breadcrumbs.posts"}}</li>
        <li>
          <a href="/board/free/comments">{{TRANSLATION "board.free.breadcrumbs.comments"}}</a>
        </li>
      </ul>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <!--=== Content Part ===-->
  <div class="container content" ng-controller="boardCtrl">

    <div class="row">
      <!--Top Likes Rows-->
      <div class="col-md-6">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-x icon-sm icon-color-u fa fa-thumbs-o-up"></i>
          <span>{{TRANSLATION "board.top.likes"}}</span>
        </h2>
        {{#if topLikes.length}}
        <table class="table table-hover">
          <tbody>
            {{#each topLikes}}
            <tr>
              <td class="text-overflow max-width-240">
                <a ng-href="/board/free/{{seq}}?page={{../number}}&category={{../category}}">
                  <strong>{{TERNARY status.delete (TRANSLATION "board.msg.deleted") subject}}</strong>
                </a>
              </td>
              <td>
                <span class="text-primary">
                  <i class="fa fa-thumbs-o-up"></i> <strong>{{count}}</strong>
                </span>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{/if}}
      </div>
      <!--End Top Likes Rows-->
      <!--Top Comments Rows-->
      <div class="col-md-6">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-x icon-sm icon-color-u fa fa-comment-o"></i>
          <span>{{TRANSLATION "board.top.comments"}}</span>
        </h2>
        {{#if topComments.length}}
        <table class="table table-hover">
          <tbody>
            {{#each topComments}}
            <tr>
              <td class="text-overflow max-width-240">
                <a ng-href="/board/free/{{seq}}?page={{../number}}&category={{../category}}">
                  <strong>
                    {{#if status.delete}}
                      {{TRANSLATION "board.msg.deleted"}}
                    {{else}}
                      {{subject}}
                    {{/if}}
                  </strong>
                </a>
              </td>
              <td>
                <span class="text-default">
                  <i class="fa fa-comment-o"></i> <strong>{{count}}</strong>
                </span>
              </td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        {{/if}}
      </div>
      <!--End Top Comments Rows-->
    </div>

    <!-- Top Buttons -->
    <div class="row">
      <div class="col-sm-6 margin-bottom-10">
        <button type="button" class="btn-u rounded dropdown-toggle" data-toggle="dropdown">
        {{#if (NOT_EQ category 'ALL')}}
          {{CATEGORY_NAME (PICK_CATEGORY categories category) locale}}
        {{else}}
          {{TRANSLATION "board.category.all"}}
        {{/if}}
          <i class="fa fa-angle-down"></i>
        </button>
        <ul class="dropdown-menu" role="menu">
        {{#if (NOT_EQ category 'ALL')}}
          <li><a href="?category=ALL">{{TRANSLATION "board.category.all"}}</a></li>
        {{/if}}
        {{#each categories}}
          {{#if (NOT_EQ this.code ../category)}}
            <li><a href="?category={{this.code}}">{{CATEGORY_NAME this ../locale}}</a></li>
          {{/if}}
        {{/each}}
        </ul>
        {{> write_button}}
      </div>
      <div class="col-sm-6 sm-margin-bottom-10">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchWords" ng-init="searchWords=''"
            ng-keypress="($event.which === 13)?btnEnter():return"
            placeholder='{{TRANSLATION "search.placeholder.words"}}'>
           <span class="input-group-btn">
             <button class="btn-u" type="button" ng-click="btnEnter();"><i class="fa fa-search"></i></button>
           </span>
        </div>
      </div>
    </div>
    <!-- End Top Buttons -->

    <div class="panel panel-u">
      <div class="panel-heading hidden-xs">
        <div class="row">
          <div class="col-sm-2">{{TRANSLATION "board.number"}} &mid; {{TRANSLATION "board.category"}}</div>
          <div class="col-sm-4">{{TRANSLATION "board.subject"}}</div>
          <div class="col-sm-3">{{TRANSLATION "board.writer"}} &mid; {{TRANSLATION "common.date"}}</div>
          <div class="col-sm-3">{{TRANSLATION "board.views"}} &mid; {{TRANSLATION "common.like"}} &mid; {{TRANSLATION "common.dislike"}}</div>
        </div>
      </div> <!-- /panel-heading -->

      <ul class="list-group">
        <!-- posts as notice -->
        {{#each notices}}
          <li class="list-group-item list-group-item-info">
            <div class="row">
              <div class="col-sm-2">
                <i aria-hidden="true" class="icon-directions visible-xs-inline"></i> {{TRANSLATION "board.notice"}}
              </div>
              <div class="col-sm-4">
                <a href="/board/free/{{seq}}?page={{../number}}&category={{../category}}">
                  <strong>{{TERNARY status.delete (TRANSLATION "board.msg.deleted") subject}}</strong>
                  {{#if (EQ status.device 'MOBILE')}}<i aria-hidden="true" class="icon-screen-smartphone"></i>{{/if}}
                  {{#if (EQ status.device 'TABLET')}}<i aria-hidden="true" class=" icon-screen-tablet"></i>{{/if}}
                  {{#if (OPR '>' galleries.length 0)}}<i aria-hidden="true" class="icon-picture"></i>{{/if}}
                  {{#if commentCount}}&nbsp;<strong>[{{commentCount}}]</strong>{{/if}}
                </a>
              </div>
              <div class="col-sm-3">
                <i aria-hidden="true" class="icon-user visible-xs-inline"></i> {{writer.username}} &mid;
                {{DATE_FORMAT (DATE_BY_ID id) (TERNARY (OPR '<' (DATE_BY_ID id) ../todayDate) 'LL' 'LT')}}
              </div>
              <div class="col-sm-3 hidden-xs">
                <i aria-hidden="true" class="icon-eye"></i> <strong>{{views}}</strong>
                <span class="text-primary">
                  <i class="fa fa-thumbs-o-up"></i>
                  <strong>{{likingCount}}</strong>
                </span>
                <span class="text-danger">
                  <i class="fa fa-thumbs-o-down"></i>
                  <strong>{{dislikingCount}}</strong>
                </span>
              </div>
            </div>
          </li>
        {{/each}}

        <!-- posts -->
        {{#each posts}}
          <li class="list-group-item">
            <div class="row">
              <div class="col-sm-2">
              {{seq}} <span class="hidden-xs">&mid;</span>
              {{#if category}}
                <i aria-hidden="true" class="icon-directions visible-xs-inline"></i>
                {{CATEGORY_NAME (PICK_CATEGORY ../categories category) ../locale}}
              {{/if}}
              </div>
              <div class="col-sm-4">
                <a href="/board/free/{{seq}}?page={{../number}}&category={{../category}}">
                  <strong>{{TERNARY status.delete (TRANSLATION "board.msg.deleted") subject}}</strong>
                {{#if (EQ status.device 'MOBILE')}}&nbsp;<i aria-hidden="true" class="icon-screen-smartphone"></i>{{/if}}
                {{#if (EQ status.device 'TABLET')}}&nbsp;<i aria-hidden="true" class="icon-screen-tablet"></i>{{/if}}
                {{#if (OPR '>' galleries.length 0)}}&nbsp;<i aria-hidden="true" class="icon-picture text-info"></i>{{/if}}
                {{#if commentCount}}&nbsp;<strong>[{{commentCount}}]</strong>{{/if}}
                </a>
              </div>

              <div class="col-sm-3">
                <span aria-hidden="true" class="icon-user visible-xs-inline"></span> {{writer.username}} &mid;
                {{DATE_FORMAT (DATE_BY_ID id) (TERNARY (OPR '<' (DATE_BY_ID id) ../todayDate) 'LL' 'LT')}}
              </div>
              <div class="col-sm-3">
                <span aria-hidden="true" class="icon-eye"></span> <strong>{{views}}</strong> &mid;
                <span class="text-primary">
                  <i class="fa fa-thumbs-o-up"></i>
                  <strong>{{likingCount}}</strong>
                </span> &mid;
                <span class="text-danger">
                  <i class="fa fa-thumbs-o-down"></i>
                  <strong>{{dislikingCount}}</strong>
                </span>
              </div>
            </div> <!-- /row -->
          </li>
        {{/each}}
      </ul>
    </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <ul uib-pagination ng-model="currentPage" total-items="totalItems" max-size="10" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged()"></ul>
        </div>
        <div class="text-center">{{> write_button}}</div>
      </div>
    </div>

    <!--=== End Content Part ===-->
  </div>

  {{> footer}}

</div><!-- /.container -->
{{#CHUNK 'css'}}
  <link rel="stylesheet" href="/unify/assets/css/pages/blog.css">
{{/CHUNK}}
{{#CHUNK 'js'}}
  <script type="text/javascript">
    require([
      'angular',
      'jakduk'
    ], function (angular) {
      angular.module("jakdukApp", [
        "ngAnimate",
        "ui.bootstrap",
        'jakdukCommon'
      ]).controller("boardCtrl", ['$scope', '$window', function ($scope, $window) {
        $scope.currentPage = {{#if (OPR '>' number 0)}}{{number}}{{else}}1{{/if}};
        $scope.totalItems = {{totalElements}};
        $scope.itemsPerPage = {{size}};

        $scope.btnEnter = function () {
          var isValid = true;
          if ($scope.searchWords.trim() < 1) {
            isValid = false;
          }
          if (isValid) {
            $window.location = '/search?q=' + $scope.searchWords.trim() + '&w=PO;CO;';
          }
        };

        $scope.pageChanged = function () {
          var page = $scope.currentPage;
          $window.location = '/board/free?page=' + page + '&category={{category}}';
        };
      }]);

      angular.bootstrap(document, ['jakdukApp']);
    });
  </script>
{{/CHUNK}}
