{{#PARTIAL 'css'}}
  <link rel="stylesheet" href="/static/semantic/dist/semantic.css">
  <style type="text/css">
    #main {
      padding-top: 70px;
    }
    #navbar .fixed {
      z-index: 801;
      box-shadow: 0 2px 4px 0 rgba(34, 36, 38, 0.12), 0 2px 10px 0 rgba(34, 36, 38, 0.15);
    }
    #navbar > div {
      padding: 0;
    }
    #navbar .mobile .menu {
      height: 54px;
    }
    #navbar .popup .item {
      color: black;
    }
    #phoneSidenav {
      z-index: 802;
    }
    .ui.footer.segment {
      padding: 1em 0 3em 0;
    }
  </style>
{{/PARTIAL}}
{{#PARTIAL 'js'}}
  <script src="/static/jakduk/js/home.js"></script>
{{/PARTIAL}}

<div id="navbar" class="ui padded grid">
  <!-- phone navbar -->
  <div class="mobile tablet only row">
    <div class="column">
      <div class="ui borderless inverted blue fixed menu">
        <div class="ui container">
          <button id="btnSidebar" class="ui icon blue button">
            <i class="content icon"></i>
          </button>
          <a href="/" class="item">KLEAGUE JAKDU KING</a>
          <div class="right menu">
            <a class="icon item" href="/login">
              <i class="sign in icon"></i>
            </a>
            <a class="logon item">
              <img class="ui avatar image" src="http://semantic-ui.com/images/wireframe/square-image.png">
            </a>
            <div class="ui popup">
              <div class="ui grid">
                <div class="column">
                  <h4 class="ui header">eunsangleeeunsagle</h4>
                  <a href="/user/profile" class="ui fluid small basic button">
                    <i class="user icon"></i>
                    My account
                  </a>
                  <div class="ui grey segment">
                    <div class="ui relaxed divided list">
                      <div class="item">
                        <div class="content">
                          <div class="header">Snickerdoodle</div>
                          An excellent companion
                        </div>
                      </div>
                      <div class="item">
                        <div class="content">
                          <div class="header">Poodle</div>
                          A poodle, its pretty basic
                        </div>
                      </div>
                      <div class="item">
                        <div class="content">
                          <div class="header">Paulo</div>
                          He's also a dog
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="/logout" class="ui fluid basic button">
                    <i class="sign out icon"></i>
                    Logout
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- desktop navbar -->
  <div class="computer only row">
    <div class="column">
      <div class="ui borderless inverted blue fixed menu">
        <div class="ui container">
          <div class="header item">
            KLEAGUE JAKDU KING
          </div>
          <div class="right menu">
            <a class="logon item">
              <img class="ui avatar image" src="http://semantic-ui.com/images/wireframe/square-image.png">
            </a>
            <div class="ui popup">
              <div class="ui grid">
                <div class="column">
                  <h4 class="ui header">eunsangleeeunsagle</h4>
                  <a href="/user/profile" class="ui fluid small basic button">
                    <i class="user icon"></i>
                    My account
                  </a>
                  <div class="ui grey segment">
                    <div class="ui relaxed divided list">
                      <div class="item">
                        <div class="content">
                          <div class="header">Snickerdoodle</div>
                          An excellent companion
                        </div>
                      </div>
                      <div class="item">
                        <div class="content">
                          <div class="header">Poodle</div>
                          A poodle, its pretty basic
                        </div>
                      </div>
                      <div class="item">
                        <div class="content">
                          <div class="header">Paulo</div>
                          He's also a dog
                        </div>
                      </div>
                    </div>
                  </div>
                  <a href="/logout" class="ui fluid basic button">
                    <i class="sign out icon"></i>
                    Logout
                  </a>
                </div>
              </div>
            </div>
            <a href="/login" class="item">
              로그인
            </a>
            <div class="ui simple dropdown item">
              <i class="globe icon"></i> {{TRANSLATION "common.language"}}
              <i class="dropdown icon"></i>
              <div class="menu">
                <a class="item"><i class="kr flag"></i> {{TRANSLATION "common.language.korean"}}</a>
                <a class="item"><i class="us flag"></i> {{TRANSLATION "common.language.english"}}</a>
              </div>
            </div>
            <div class="ui category search item">
              <div class="ui icon input">
                <input type="text" placeholder="Search anything" autocomplete="off">
                <i class="search link icon"></i>
              </div>
              <div class="results"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- phone sidenav-->
<div id="phoneSidenav" class="ui left inverted blue vertical accordion menu sidebar">
  <div class="ui search item">
    <div class="ui icon input">
      <input type="text" placeholder="Search anything" autocomplete="off">
      <i class="search link icon"></i>
    </div>
    <div class="results"></div>
  </div>
  <a href="/" class="active item">
    홈
  </a>
  <a class="item">
    게시판
  </a>
  <a class="item">
    사진첩
  </a>
  <a class="item">
    통계
  </a>
  <a class="item">
    작두타기
  </a>
  <div class="item">
    <h5 class="ui inverted top header">
      인기 검색어
    </h5>
    <div class="ui segment">
      <a class="ui label">New</a>
      <a class="ui red label">Upcoming</a>
      <a class="ui teal label">Featured</a>
    </div>
  </div>
  <div class="item">
    <h5 class="ui inverted top header">
      새로운 회원
    </h5>
    <div class="ui fluid card">
      <div class="content">
        <div class="header">
          PicPic
        </div>
        <div class="description">
          Animals
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <h5 class="ui inverted top header">
      백과사전
    </h5>
    <div class="ui fluid card">
      <div class="content">
        <div class="header">
          백종철
        </div>
        <div class="description">
          85년 축구대제전 슈퍼리그 MVP는 럭키
        </div>
      </div>
    </div>
  </div>
  <div class="item">
    <a class="title">
      <i class="dropdown icon"></i>
      <i class="globe icon"></i> {{TRANSLATION "common.language"}}
    </a>
    <div class="content">
      <a class="item"><i class="kr flag"></i> {{TRANSLATION "common.language.korean"}}</a>
      <a class="item"><i class="us flag"></i> {{TRANSLATION "common.language.english"}}</a>
    </div>
  </div>
</div>

<!-- main -->
<div id="main" class="dimmed pusher">
  <div class="ui container">
    <div class="ui grid">

      <!-- desktop sidenav -->
      <div class="three wide computer only column">
        <div id="stickyVerticalMenu" class="ui sticky grid vertical fluid blue inverted menu">
          <a href="/" class="active item computer only row">
            홈
          </a>
          <a href="/board/free" class="item computer only row">
            게시판
          </a>
          <a href="/gallery" class="item computer only row">
            사진첩
          </a>
          <a class="item computer only row">
            통계
          </a>
          <a class="item computer only row">
            작두타기
          </a>
          <div class="item">
            <h5 class="ui inverted top header">
              인기 검색어
            </h5>
            <div class="ui segment">
              <a class="ui label">New</a>
              <a class="ui red label">Upcoming</a>
              <a class="ui teal label">Featured</a>
            </div>
          </div>
          <div class="item">
            <h5 class="ui inverted top header">
              새로운 회원
            </h5>
            <div class="ui fluid card">
              <div class="content">
                <div class="header">
                  PicPic
                </div>
                <div class="description">
                  Animals
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <h5 class="ui inverted top header">
              백과사전
            </h5>
            <div class="ui fluid card">
              <div class="content">
                <div class="header">
                  백종철
                </div>
                <div class="description">
                  85년 축구대제전 슈퍼리그 MVP는 럭키
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>


      <div class="sixteen wide mobile ten wide tablet ten wide computer column">

        <!-- 공지 -->
        <div class="ui blue segment">
          <div class="ui items link">
            <div class="item">
              <a href="">OSS 더비기닝리그 유소년 엘리트축구대회를 소개합니다! &middot; 2017.1.24 13:19</a>
            </div>
          </div>
        </div>

        <!-- 최신글 -->
        <div class="ui blue segment">
          <div class="ui items link divided">
            <div class="item">
              <div class="ui tiny image">
                <img src="/static/jakduk/img/logo_256.png">
              </div>
              <div class="content">
                <a class="header">OSS 더비기닝리그 유소년 엘리트축구대회를 소개합니다!</a>
                <div class="description">
                  <p>대한민국의 미래, 전국 유소년 클럽 선수들에게 다양한 경험과 즐거운 추억을 선사하고자
                    전국 4개 도시(부산, 수원, 대전, 서울)에서 2017 OSS 더 비기닝 리그를 각각 개최합니다. (엘리트 축구대회)</p>
                </div>
                <div class="extra">
                  생글이_진주FC &middot; 2017.1.24 13:19
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui tiny image">
                <img src="/static/jakduk/img/logo_256.png">
              </div>
              <div class="content">
                <a class="header">OSS 더비기닝리그 유소년 엘리트축구대회를 소개합니다!</a>
                <div class="description">
                  <p>대한민국의 미래, 전국 유소년 클럽 선수들에게 다양한 경험과 즐거운 추억을 선사하고자
                    전국 4개 도시(부산, 수원, 대전, 서울)에서 2017 OSS 더 비기닝 리그를 각각 개최합니다. (엘리트 축구대회)</p>
                </div>
                <div class="extra">
                  생글이_진주FC &middot; 2017.1.24 13:19
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">OSS 더비기닝리그 유소년 엘리트축구대회를 소개합니다!</a>
                <div class="description">
                  <p>대한민국의 미래, 전국 유소년 클럽 선수들에게 다양한 경험과 즐거운 추억을 선사하고자

                    전국 4개 도시(부산, 수원, 대전, 서울)에서 2017 OSS 더 비기닝 리그를 각각 개최합니다. (엘리트 축구대회)</p>
                </div>
                <div class="extra">
                  생글이_진주FC &middot; 2017.1.24 13:19
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui tiny image">
                <img src="/static/jakduk/img/logo_256.png">
              </div>
              <div class="content">
                <a class="header">OSS 더비기닝리그 유소년 엘리트축구대회를 소개합니다!</a>
                <div class="description">
                  <p>대한민국의 미래, 전국 유소년 클럽 선수들에게 다양한 경험과 즐거운 추억을 선사하고자

                    전국 4개 도시(부산, 수원, 대전, 서울)에서 2017 OSS 더 비기닝 리그를 각각 개최합니다. (엘리트 축구대회)</p>
                </div>
                <div class="extra">
                  생글이_진주FC &middot; 2017.1.24 13:19
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui tiny image">
                <img src="/static/jakduk/img/logo_256.png">
              </div>
              <div class="content">
                <a class="header">OSS 더비기닝리그 유소년 엘리트축구대회를 소개합니다!</a>
                <div class="description">
                  <p>대한민국의 미래, 전국 유소년 클럽 선수들에게 다양한 경험과 즐거운 추억을 선사하고자

                    전국 4개 도시(부산, 수원, 대전, 서울)에서 2017 OSS 더 비기닝 리그를 각각 개최합니다. (엘리트 축구대회)</p>
                </div>
                <div class="extra">
                  생글이_진주FC &middot; 2017.1.24 13:19
                </div>
              </div>
            </div>
            <div class="item">
              <div class="content">
                <a class="header">OSS 더비기닝리그 유소년 엘리트축구대회를 소개합니다!</a>
                <div class="description">
                  <p>대한민국의 미래, 전국 유소년 클럽 선수들에게 다양한 경험과 즐거운 추억을 선사하고자
                    전국 4개 도시(부산, 수원, 대전, 서울)에서 2017 OSS 더 비기닝 리그를 각각 개최합니다. (엘리트 축구대회)</p>
                </div>
                <div class="extra">
                  생글이_진주FC &middot; 2017.1.24 13:19
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui tiny image">
                <img src="/static/jakduk/img/logo_256.png">
              </div>
              <div class="content">
                <a class="header">OSS 더비기닝리그 유소년 엘리트축구대회를 소개합니다!</a>
                <div class="description">
                  <p>대한민국의 미래, 전국 유소년 클럽 선수들에게 다양한 경험과 즐거운 추억을 선사하고자
                    전국 4개 도시(부산, 수원, 대전, 서울)에서 2017 OSS 더 비기닝 리그를 각각 개최합니다. (엘리트 축구대회)</p>
                </div>
                <div class="extra">
                  생글이_진주FC &middot; 2017.1.24 13:19
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui tiny image">
                <img src="/static/jakduk/img/logo_256.png">
              </div>
              <div class="content">
                <a class="header">OSS 더비기닝리그 유소년 엘리트축구대회를 소개합니다!</a>
                <div class="description">
                  <p>대한민국의 미래, 전국 유소년 클럽 선수들에게 다양한 경험과 즐거운 추억을 선사하고자

                    전국 4개 도시(부산, 수원, 대전, 서울)에서 2017 OSS 더 비기닝 리그를 각각 개최합니다. (엘리트 축구대회)</p>
                </div>
                <div class="extra">
                  생글이_진주FC &middot; 2017.1.24 13:19
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui tiny image">
                <img src="/static/jakduk/img/logo_256.png">
              </div>
              <div class="content">
                <a class="header">OSS 더비기닝리그 유소년 엘리트축구대회를 소개합니다!</a>
                <div class="description">
                  <p>대한민국의 미래, 전국 유소년 클럽 선수들에게 다양한 경험과 즐거운 추억을 선사하고자

                    전국 4개 도시(부산, 수원, 대전, 서울)에서 2017 OSS 더 비기닝 리그를 각각 개최합니다. (엘리트 축구대회)</p>
                </div>
                <div class="extra">
                  생글이_진주FC &middot; 2017.1.24 13:19
                </div>
              </div>
            </div>
            <div class="item">
              <div class="ui tiny image">
                <img src="/static/jakduk/img/logo_256.png">
              </div>
              <div class="content">
                <a class="header">OSS 더비기닝리그 유소년 엘리트축구대회를 소개합니다!</a>
                <div class="description">
                  <p>대한민국의 미래, 전국 유소년 클럽 선수들에게 다양한 경험과 즐거운 추억을 선사하고자

                    전국 4개 도시(부산, 수원, 대전, 서울)에서 2017 OSS 더 비기닝 리그를 각각 개최합니다. (엘리트 축구대회)</p>
                </div>
                <div class="extra">
                  생글이_진주FC &middot; 2017.1.24 13:19
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="sixteen wide mobile six wide tablet three wide computer column">
        <!-- 최신 사진 -->
        <div class="ui top attached blue segment header">
          최신 사진
        </div>
        <div class="ui attached segment card">
          <a class="image">
            <img src="/static/jakduk/img/logo_256.png">
          </a>
          <a class="content">
            <div class="description">
              PicPic
            </div>
            <div class="meta">
              <span class="category">Animals</span>
            </div>
          </a>
        </div>
        <div class="ui attached segment card">
          <div class="image">
            <img src="/static/jakduk/img/logo_256.png">
          </div>
          <div class="content">
            <div class="description">
              PicPic
            </div>
            <div class="meta">
              <span class="category">Animals</span>
            </div>
          </div>
        </div>
        <div class="ui attached segment card">
          <div class="image">
            <img src="/static/jakduk/img/logo_256.png">
          </div>
          <div class="content">
            <div class="description">
              PicPic
            </div>
            <div class="meta">
              <span class="category">Animals</span>
            </div>
          </div>
        </div>
        <div class="ui attached segment card">
          <div class="image">
            <img src="/static/jakduk/img/logo_256.png">
          </div>
          <div class="content">
            <div class="description">
              PicPic
            </div>
            <div class="meta">
              <span class="category">Animals</span>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- footer -->
    <div class="ui vertical footer segment">
      <div class="ui section divider"></div>
      <div class="ui center aligned container">
        <div class="ui stackable divided grid">
          <div class="four wide column">
            <h4 class="ui  header">{{TRANSLATION "about"}}</h4>
            <div class="ui link list">
              <a href="#" class="item">Link One</a>
              <a href="#" class="item">Link Two</a>
              <a href="#" class="item">Link Three</a>
            </div>
          </div>
          <div class="four wide column">
            <h4 class="ui header">{{TRANSLATION "board"}}</h4>
            <div class="ui link list">
              <a href="#" class="item">Link One</a>
              <a href="#" class="item">Link Two</a>
              <a href="#" class="item">Link Three</a>
            </div>
          </div>
          <div class="four wide column">
            <h4 class="ui header">{{TRANSLATION "stats"}}</h4>
            <div class="ui link list">
              <a href="#" class="item">Link One</a>
              <a href="#" class="item">Link Two</a>
              <a href="#" class="item">Link Three</a>
            </div>
          </div>
          <div class="four wide column">
            <div class="ui link list">
              <a class="item"><i class="github alternate big icon"></i></a>
              <a class="item"><i class="comments outline big icon"></i></a>
              <a class="item"><i class="mail big icon"></i></a>
            </div>
          </div>
        </div>
        <div class="ui section divider"></div>
        <img src="/static/jakduk/img/logo_128.png" class="ui centered mini image">
        <div class="ui horizontal small divided link list">
          <a class="item" href="/rss">RSS</a>
        </div>
      </div>
    </div>
  </div>
</div>
