<div class="wrapper" ng-controller="writeCtrl">
  <div class="container content">
    <div class="row">
      <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="clearfix">
          <div class="dropdown pull-right">
            <button type="button" id="menus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="btn btn-link dropdown-toggle">
              <i class="fa fa-globe"></i> {{TRANSLATION "common.language"}}
            </button>
            <ul aria-labelledby="menus" class="dropdown-menu">
              <li><a href="?lang=ko-KR">{{TRANSLATION "common.language.korean"}}</a></li>
              <li><a href="?lang=en-US">{{TRANSLATION "common.language.english"}}</a></li>
            </ul>
          </div>
        </div>
        <form name="userPasswordUpdate" class="reg-page" ng-submit="onSubmit($event)">
          <div class="reg-header">
            <p>
              <a class="logo" href="/">
                {{#if (EQ locale 'ko-KR')}}
                  <img src="/assets/jakduk/img/logo_type_A_kr.png" alt="Logo" class="center-block">
                {{else}}
                  <img src="/assets/jakduk/img/logo_type_A_en.png" alt="Logo" class="center-block">
                {{/if}}
              </a>
            </p>
            <h2>{{TRANSLATION "user.password.change"}}</h2>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-success':userPasswordUpdate.oldPassword.$valid, 'has-error':!userPasswordUpdate.oldPassword.$pristine && userPasswordUpdate.oldPassword.$invalid}">
            <label class="control-label">
              <abbr title='{{TRANSLATION "common.msg.required"}}'>*</abbr>
              {{TRANSLATION "user.password.old"}}
            </label>
            <input type="password" name="oldPassword" class="form-control" placeholder='{{TRANSLATION "user.placeholder.old.password"}}' ng-model="oldPassword" ng-blur="checkOldPassword()" required ng-minlength="passwordLengthMin" ng-maxlength="passwordLengthMax">
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':userPasswordUpdate.oldPassword.$valid,'glyphicon-remove':!userPasswordUpdate.oldPassword.$pristine && userPasswordUpdate.oldPassword.$invalid}"></span>
            <span ng-class="oldPasswordAlert.classType" ng-show="oldPasswordAlert.msg" ng-bind="oldPasswordAlert.msg"></span>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-success':userPasswordUpdate.newPassword.$valid, 'has-error':!userPasswordUpdate.newPassword.$pristine && userPasswordUpdate.newPassword.$invalid}">
            <label class="control-label">
              <abbr title='{{TRANSLATION "common.msg.required"}}'>*</abbr>
              {{TRANSLATION "user.password.new"}}
            </label>
            <input type="password" name="newPassword" class="form-control" placeholder='{{TRANSLATION "user.placeholder.new.password"}}'
                   ng-model="newPassword" ng-blur="checkNewPassword()" required ng-minlength="passwordLengthMin" ng-maxlength="passwordLengthMax">

            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':userPasswordUpdate.newPassword.$valid,'glyphicon-remove':!userPasswordUpdate.newPassword.$pristine && userPasswordUpdate.newPassword
        .$invalid}"></span>
            <span ng-class="newPasswordAlert.classType" ng-show="newPasswordAlert.msg" ng-bind="newPasswordAlert.msg"></span>
          </div>

          <div class="form-group has-feedback" ng-class="{'has-success':userPasswordUpdate.newPasswordConfirm.$valid, 'has-error':(!userPasswordUpdate.newPasswordConfirm.$pristine && userPasswordUpdate.newPasswordConfirm.$invalid) || (!userPasswordUpdate.newPasswordConfirm.$pristine && newPassword !== newPasswordConfirm)}">
            <label class="control-label">
              <abbr title='{{TRANSLATION "common.msg.required"}}'>*</abbr>
              {{TRANSLATION "user.password.new.confirm"}}
            </label>
            <input type="password" name="newPasswordConfirm" class="form-control" placeholder='{{TRANSLATION "user.placeholder.confirm.new.password"}}' ng-model="newPasswordConfirm" ng-blur="checkNewPasswordConfirm()" required ng-minlength="passwordLengthMin" ng-maxlength="passwordLengthMax">
            <span class="glyphicon form-control-feedback" ng-class="{'glyphicon-ok':userPasswordUpdate.newPasswordConfirm.$valid,'glyphicon-remove':(!userPasswordUpdate.newPasswordConfirm.$invalid && userPasswordUpdate.newPasswordConfirm.$invalid) || (!userPasswordUpdate.newPasswordConfirm.$pristine && newPassword !== newPasswordConfirm)}"></span>
            <span ng-class="newPasswordConfirmAlert.classType" ng-show="newPasswordConfirmAlert.msg" ng-bind="newPasswordConfirmAlert.msg"></span>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-default">
              <span class="glyphicon glyphicon-upload"></span> {{TRANSLATION "common.button.write"}}
            </button>
            <button type="button" class="btn btn-default" onclick="location.href='/user/profile'">
              <span class="glyphicon glyphicon-ban-circle"></span> {{TRANSLATION "common.button.cancel"}}
            </button>
            <div>
              <i class="fa fa-circle-o-notch fa-spin" ng-show="submitConn == 'connecting'"></i>
              <span ng-class="buttonAlert.classType" ng-show="buttonAlert.msg" ng-bind="buttonAlert.msg"></span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{{#CHUNK 'css'}}
  <link rel="stylesheet" href="/assets/unify/assets/css/pages/page_log_reg_v1.css"/>
{{/CHUNK}}
{{#CHUNK 'js'}}
  <script type="text/javascript">
    require([
      'angular', 'jakduk'
    ], function (angular, Jakduk) {
      angular.module("jakdukApp", [
        'jakdukCommon'
      ]).controller("writeCtrl", ['$scope', '$window', '$http', function ($scope, $window, $http) {
        $scope.passwordLengthMin = Jakduk.FormPasswordLengthMin;
        $scope.passwordLengthMax = Jakduk.FormPasswordLengthMax;
        $scope.oldPasswordAlert = {};
        $scope.newPasswordAlert = {};
        $scope.newPasswordConfirmAlert = {};

        $window.onbeforeunload = function (e) {
          if ($scope.submitConn !== 'connecting' && !$scope.userPasswordUpdate.$pristine) {
            (e || $window.event).returnValue = '{{TRANSLATION "common.msg.are.you.sure.leave.page"}}';
            return '{{TRANSLATION "common.msg.are.you.sure.leave.page"}}';
          }
        };

        $scope.onSubmit = function () {
          if ($scope.userPasswordUpdate.$valid && $scope.newPassword === $scope.newPasswordConfirm) {
            $scope.submitConn = "connecting";
            $scope.buttonAlert = {
              classType: "text-info",
              msg: '{{TRANSLATION "common.msg.be.communicating.server"}}'
            };

            $http.put('{{apiServerUrl}}/user/password', {
              newPassword: $scope.newPassword,
              newPasswordConfirm: $scope.newPasswordConfirm,
              password: $scope.oldPassword
            }).then(function () {
              $window.location = '/user/profile';
            }, function (response) {
              $scope.submitConn = 'none';
              $scope.buttonAlert = {
                classType: 'text-info',
                msg: response.data.message
              };
            });
          } else {
            $scope.checkOldPassword();
            $scope.checkNewPassword();
            $scope.checkNewPasswordConfirm();

            $scope.submitConn = "none";
            $scope.buttonAlert = {
              classType: "text-info",
              msg: '{{TRANSLATION "common.msg.need.form.validation"}}'
            };
          }
        };

        $scope.checkOldPassword = function () {
          if ($scope.userPasswordUpdate.oldPassword.$invalid) {
            if ($scope.userPasswordUpdate.oldPassword.$error.required) {
              $scope.oldPasswordAlert = {
                classType: "text-info",
                msg: '{{TRANSLATION "common.msg.required"}}'
              };
            } else if ($scope.userPasswordUpdate.oldPassword.$error.minlength || $scope.userPasswordUpdate.oldPassword.$error.maxlength) {
              $scope.oldPasswordAlert = {
                classType: "text-info",
                msg: '{{TRANSLATION "Size.userWrite.password"}}'
              };
            }
          } else {
            $scope.oldPasswordAlert = {};
          }
        };

        $scope.checkNewPassword = function () {
          if ($scope.userPasswordUpdate.newPassword.$invalid) {
            if ($scope.userPasswordUpdate.newPassword.$error.required) {
              $scope.newPasswordAlert = {
                classType: "text-info",
                msg: '{{TRANSLATION "common.msg.required"}}'
              };
            } else if ($scope.userPasswordUpdate.newPassword.$error.minlength || $scope.userPasswordUpdate.newPassword.$error.maxlength) {
              $scope.newPasswordAlert = {
                classType: "text-info",
                msg: '{{TRANSLATION "Size.userWrite.password"}}'
              };
            }
          } else {
            $scope.newPasswordAlert = {};
          }
        };

        $scope.checkNewPasswordConfirm = function () {
          if ($scope.userPasswordUpdate.newPasswordConfirm.$invalid || $scope.newPassword != $scope.newPasswordConfirm) {
            if ($scope.userPasswordUpdate.newPasswordConfirm.$error.required) {
              $scope.newPasswordConfirmAlert = {
                classType: "text-info",
                msg: '{{TRANSLATION "common.msg.required"}}'
              };
            } else if ($scope.userPasswordUpdate.newPasswordConfirm.$error.minlength || $scope.userPasswordUpdate.newPasswordConfirm.$error.maxlength) {
              $scope.newPasswordConfirmAlert = {
                classType: "text-info",
                msg: '{{TRANSLATION "Size.userWrite.password"}}'
              };
            } else if ($scope.newPassword != $scope.newPasswordConfirm) {
              $scope.newPasswordConfirmAlert = {
                classType: "text-info",
                msg: '{{TRANSLATION "user.msg.password.mismatch"}}'
              };
            }
          } else {
            $scope.newPasswordConfirmAlert = {};
          }
        };
      }]);

      angular.bootstrap(document, ['jakdukApp']);
    });
  </script>
{{/CHUNK}}
