<div class="wrapper">

  {{> navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left"><a href="/about/intro">{{TRANSLATION "about.site"}}</a></h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <!--=== Content Part ===-->
  <div class="container content">
    <div class="overflow-h">
      <div class="pull-left">
        <h3>{{{TRANSLATION 'common.jakduk'}}}</h3>
      </div>
    </div>
    <p>{{{TRANSLATION 'about.jakdu'}}}</p>

    <div class="overflow-h">
      <div class="pull-left">
        <h3>{{{TRANSLATION 'common.jakduk.description'}}}</h3>
      </div>
    </div>
    <p>{{{TRANSLATION 'about.jakduk'}}}</p>

    <div class="overflow-h">
      <div class="pull-left">
        <h3>{{{TRANSLATION 'common.msg.project.jakduk'}}}</h3>
      </div>
    </div>
    <p>{{TRANSLATION 'about.contribution'}}</p>
    <p><a href="https://github.com/JakduK" target="_blank">https://github.com/JakduK</a></p>
  </div>

  {{> footer}}

</div><!-- /.wrapper -->
{{#CHUNK 'js'}}
  <script type="text/javascript">
    require(['angular', 'jakduk'], function (angular) {
      angular.module("jakdukApp", ['jakdukCommon']);
      angular.bootstrap(document, ['jakdukApp']);
    });
  </script>
{{/CHUNK}}
