<div class="wrapper" ng-controller="statsCtrl">

  {{> navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left"><a href="/stats/supporters" target="_self">{{TRANSLATION "stats.supporters"}}</a></h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <!--=== Content Part ===-->
  <div class="container content">

    <div class="cube-portfolio">
      <div id="filters-container" class="cbp-l-filters-text content-xs">
        <div class="cbp-filter-item" ng-class="{'cbp-filter-item-active':chartConfig.options.chart.type === 'bar'}" ng-click="changeChartType('bar')">
            {{TRANSLATION "stats.chart.bar"}}
        </div>
        &mid;
        <div class="cbp-filter-item" ng-class="{'cbp-filter-item-active':chartConfig.options.chart.type === 'pie'}" ng-click="changeChartType('pie')">
            {{TRANSLATION "stats.chart.pie"}}
        </div>
      </div><!--/end Filters Container-->
    </div>

    <highchart id="chart1" config="chartConfig" class="margin-bottom-10"></highchart>

    <div class="tag-box tag-box-v4 margin-bottom-20">
      <h2 ng-bind="chartConfig.title.text"></h2>
      <p>{{TRANSLATION "stats.msg.total.number.of.members" n="<strong ng-bind=\"usersTotal\"></strong>"}}</p>
      <p>{{TRANSLATION "stats.msg.total.number.of.supporters" n="<strong ng-bind=\"supportersTotal\"></strong>"}}</p>
    </div>

    <div class="text-right">
      <button class="btn-u btn-brd rounded btn-u-xs" type="button" ng-click="btnUrlCopy()" tooltip-popup-close-delay='300' uib-tooltip="{{TRANSLATION "common.msg.copy.to.clipboard"}}">
        <i class="icon-link"></i>
      </button>
      <button id="kakao-link-btn" class="btn btn-link rounded" ng-click="sendLink()" tooltip-popup-close-delay='300' uib-tooltip="{{TRANSLATION "common.msg.send.to.kakao"}}">
        <img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png">
      </button>
    </div>
  </div>

  {{> footer}}

</div>
{{#CHUNK 'css'}}
  <link rel="stylesheet" href="/unify/assets/plugins/cube-portfolio/cubeportfolio/css/cubeportfolio.min.css">
  <link rel="stylesheet" href="/unify/assets/plugins/cube-portfolio/cubeportfolio/custom/custom-cubeportfolio.css">
{{/CHUNK}}
{{#CHUNK 'js'}}
  <script type="text/javascript">
    require([
      'angular', 'kakao', 'jakduk', 'angular-highcharts'
    ], function (angular, Kakao, Jakduk) {
      angular.module("jakdukApp", ["highcharts-ng", "ui.bootstrap", 'jakdukCommon'])
        .controller('statsCtrl', ['$scope', '$http', '$window', '$location', function ($scope, $http, $window, $location) {
        var chartType = $location.search().chartType;

        if (chartType !== "pie") {
          chartType = "bar";
        }

        $scope.supportersConn = "none";
        $scope.chartSeriesData = [];
        $scope.supportersTotal = 0;
        $scope.usersTotal = 0;
        $scope.chartConfig = {
          options: {
            chart: {
              type: chartType,
              height: 100
            },
            plotOptions: {
              pie: {
                allowPointSelect: true,
                cursor: 'pointer'
              }
            }
          },
          title: {
            text: '{{TRANSLATION "stats.supporters.title"}}'
          },
          subtitle: {
            text: 'Source: ' + Jakduk.origin
          },
          xAxis: {
            type: 'category',
            labels: {
              style: {
                fontSize: '13px'
              }
            }
          },
          yAxis: {
            min: 0,
            title: {
              text: '{{TRANSLATION "stats.number.of.supporter"}}'
            }
          },
          series: [{
            name: '{{TRANSLATION "stats.number.of.supporter"}}',
            data: $scope.chartSeriesData,
            dataLabels: {
              enabled: true,
              align: 'right',
              format: '{point.name} <b>{point.y:1f}</b>',
              style: {
                fontSize: '13px'
              }
            }
          }],
          loading: true,
          credits: {enabled: true}
        };

        $scope.getSupporters = function getSupporters() {
          if ($scope.supportersConn == "none") {

            $scope.chartConfig.loading = true;
            $scope.supportersConn = "loading";

            $http.get('{{apiServerUrl}}/stats/supporters?lang={{locale}}').then(function (response) {
              var data = response.data;

              $scope.chartConfig.loading = false;
              $scope.supportersTotal = data.supportersTotal;
              $scope.usersTotal = data.usersTotal;
              var supporters = data.supporters;
              $scope.chartConfig.options.chart.height = 200 + (supporters.length * 30);

              supporters.forEach(function (supporter) {
                var item = [supporter.supportFC.names[0].shortName, supporter.count];
                $scope.chartSeriesData.push(item);
              });

              $scope.supportersConn = "none";
            }, function () {
              $scope.supportersConn = "none";
              $scope.error = '{{TRANSLATION "common.msg.error.network.unstable"}}';
            });
          }
        };

        $scope.changeChartType = function (chartName) {
          $scope.chartConfig.options.chart.type = chartName;
          $location.search({
            chartType: chartName
          });
        };

        $scope.btnUrlCopy = function () {
          var url = $location.absUrl();

          if ($window.clipboardData) {
            // IE처리
            // 클립보드에 문자열 복사
            $window.clipboardData.setData('text', url);

            // 클립보드의 내용 가져오기
            // window.clipboardData.getData('Text');

            // 클립보드의 내용 지우기
            // window.clipboardData.clearData("Text");
          } else {
            // 비IE 처리
            $window.prompt('{{TRANSLATION "common.msg.copy.to.clipboard"}}', url);
          }
        };

        $scope.sendLink = function () {
          var label = '{{TRANSLATION "stats.supporters.title"}}\r{{TRANSLATION "stats"}} · {{TRANSLATION "common.jakduk"}}';
          var url = $location.absUrl();

          Kakao.Link.sendTalkLink({
            label: label,
            webLink: {
              text: url,
              url: url
            }
          });
        };

        $scope.getSupporters();
      }]);

      angular.bootstrap(document, ['jakdukApp']);

      Kakao.init('{{kakaoClinetID}}');
    });
  </script>
{{/CHUNK}}
