<div class="wrapper">

  {{> navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left"><a href="/home">{{TRANSLATION "common.error"}}</a></h1>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <div class="container content">
    <h3>{{TRANSLATION "common.msg.error.default"}}</h3>
    <p><small>Host : <code>{{req.headers.host}}</code></small></p>
    <p><small>URI : <code>{{req.headers.host}}{{req.originalUrl}}</code></small></p>
    <p><small>Code : <code>{{code}}</code></small></p>
    <p><small>Message : <code>{{message}}</code></small></p>
    {{#if error}}
      <p><small>Stack : <pre>{{error}}</pre></small></p>
    {{/if}}
    <p><small>Date : <code ng-bind="{{now}} | date:'medium'"></code></small></p>
    <p class="text-info"><strong>{{TRANSLATION "common.msg.error.show.error.to.administrator"}}</strong></p>
    <button class="btn btn-default" onclick="location.href='/home'">{{TRANSLATION "common.button.home"}}</button>
    <button class="btn btn-default" onclick="history.back()">{{TRANSLATION "common.button.previous.page"}}</button>
  </div><!-- /.container -->

  {{> footer}}

</div><!-- /.wrapper -->
{{#CHUNK 'js'}}
  <script>
    require(['angular', 'jakduk'], function (angular) {
      angular.module('jakdukApp', ['jakdukCommon']);
      angular.bootstrap(document, ['jakdukApp']);
    });
  </script>
{{/CHUNK}}