<div class="wrapper">

  {{> header_navigation}}

  <!--=== Breadcrumbs ===-->
  <div class="breadcrumbs">
    <div class="container">
      <h1 class="pull-left">
        <a href="/board/free/comments/refresh">{{TRANSLATION "board.name.free"}}</a></h1>
      <ul class="pull-right breadcrumb">
        <li><a href="/board/free/posts">{{TRANSLATION "board.free.breadcrumbs.posts"}}</a>
        </li>
        <li class="active">{{TRANSLATION "board.free.breadcrumbs.comments"}}</li>
      </ul>
    </div><!--/container-->
  </div><!--/breadcrumbs-->
  <!--=== End Breadcrumbs ===-->

  <!--=== Content Part ===-->
  <div class="container content blog-item" ng-controller="boardCtrl">

    <div class="row">
      <!--Top Likes Rows-->
      <div class="col-md-6">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-x icon-sm icon-color-u fa fa-thumbs-o-up"></i>
          <span>{{TRANSLATION "board.top.likes"}}</span>
        </h2>
      {{#if topLikes.length}}
        <table class="table table-hover">
          <tbody>
          {{#each topLikes}}
            <tr>
              <td class="text-overflow max-width-240">
                <a href="/board/free/{{seq}}">
                {{#if (EQ status.delete 'DELETE')}}
                  <strong>{{TRANSLATION "board.msg.deleted"}}</strong>
                {{else}}
                  <strong>{{subject}}</strong>
                {{/if}}
                </a>
              </td>
              <td>
                <span class="text-primary"><i class="fa fa-thumbs-o-up"></i> <strong>{{count}}</strong></span>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/if}}
      </div>
      <!--End Top Likes Rows-->
      <!--Top Comments Rows-->
      <div class="col-md-6">
        <h2 class="heading-sm">
          <i class="icon-custom rounded-x icon-sm icon-color-u fa fa-comment-o"></i>
          <span>{{TRANSLATION "board.top.comments"}}</span>
        </h2>
      {{#if topComments.length}}
        <table class="table table-hover">
          <tbody>
          {{#each topComments}}
            <tr>
              <td class="text-overflow max-width-240">
                <a href="/board/free/{{seq}}">
                {{#if (EQ status.delete 'DELETE')}}
                  <strong>{{TRANSLATION "board.msg.deleted"}}</strong>
                {{else}}
                  <strong>{{subject}}</strong>
                {{/if}}
                </a>
              </td>
              <td>
              <span class="text-default"><i class="fa fa-comment-o"></i> <strong>{{count}}</strong></span>
              </td>
            </tr>
          {{/each}}
          </tbody>
        </table>
      {{/if}}
      </div>
      <!--End Top Comments Rows-->
    </div>

    <!-- Top Buttons -->
    <div class="row">
      <div class="col-sm-6 margin-bottom-10">
      {{#if isAuthenticated}}
        <button type="button" class="btn-u btn-brd rounded" onclick="location.href='/board/free/write'" tooltip-popup-close-delay='300' uib-tooltip="{{TRANSLATION "board.write"}}">
          <span aria-hidden="true" class="icon-pencil"></span>
        </button>
      {{else}}
        <button type="button" class="btn-u btn-brd rounded" ng-click="needLogin();" tooltip-popup-close-delay='300' uib-tooltip="{{TRANSLATION "board.write"}}">
          <span aria-hidden="true" class="icon-pencil"></span>
        </button>
      {{/if}}
      </div>
      <div class="col-sm-6 sm-margin-bottom-10">
        <div class="input-group">
          <input type="text" class="form-control" ng-model="searchWords" ng-init="searchWords=''" ng-keypress="($event.which === 13)?btnEnter():return" placeholder="{{TRANSLATION "search.placeholder.words"}}">
          <span class="input-group-btn">
             <button class="btn-u" type="button" ng-click="btnEnter();"><i class="fa fa-search"></i></button>
           </span>
        </div>
        <span class="text-danger" ng-show="enterAlert" ng-bind="enterAlert"></span>
      </div>
    </div>

    <hr class="padding-5"/>

    <div class="media margin-bottom-10">
      <div class="media-body">
      {{#each comments}}
        <div>
          <h5 class="media-heading">
            <i aria-hidden="true" class="icon-user"></i> {{writer.username}}
            <span>{{DATE_FORMAT (DATE_BY_ID id) 'LONG'}}</span>
          </h5>
          <p>
          {{#if (EQ status.device 'MOBILE')}}
            <span aria-hidden="true" class="icon-screen-smartphone"></span>
          {{else if (EQ status.device 'TABLET')}}
            <span aria-hidden="true" class="icon-screen-tablet"></span>
          {{/if}}
            <a href="/board/free/{{boardItem.seq}}">{{{content}}}</a>
          </p>
          <p class="board-comment">
            <a href="/board/free/{{boardItem.seq}}">
              {{TRANSLATION "board.subject"}} : <span ng-bind="postsHavingComments['{{boardItem.id}}'].subject"></span>
            </a>
          </p>

          <button type="button" class="btn btn-xs rounded btn-dropbox" ng-click="btnCommentFeeling('{{id}}', 'LIKE')" tooltip-popup-close-delay='300' uib-tooltip="{{TRANSLATION "common.button.like"}}">
            <i class="fa fa-thumbs-o-up fa-lg" ng-init="numberOfCommentLike['{{id}}']={{ARRAY_SIZE usersLiking}}"></i>
            <span ng-bind="numberOfCommentLike['{{id}}']"></span>
          </button>
          <button type="button" class="btn btn-xs rounded btn-weibo"
            ng-click="btnCommentFeeling('{{id}}', 'DISLIKE')"
            tooltip-popup-close-delay='300' uib-tooltip="{{TRANSLATION "common.button.dislike"}}">
            <i class="fa fa-thumbs-o-down fa-lg" ng-init="numberOfCommentDislike['{{id}}']={{ARRAY_SIZE usersDisliking}}"></i>
            <span ng-bind="numberOfCommentDislike['{{id}}']"></span>
          </button>

          <div class="text-danger" ng-show="commentFeelingConn['{{id}}']" ng-bind="commentFeelingAlert['{{id}}']"></div>

          <hr class="padding-5">
        </div>
      {{/each}}
      </div>
    </div>

  {{#if isAuthenticated}}
    <button type="button" class="btn-u btn-brd rounded" onclick="location.href='/board/free/write'" tooltip-popup-close-delay='300' uib-tooltip='{{TRANSLATION "board.write"}}'>
      <span aria-hidden="true" class="icon-pencil"></span>
    </button>
  {{else}}
    <button type="button" class="btn-u btn-brd rounded" onclick="needLogin();" tooltip-popup-close-delay='300' uib-tooltip="{{TRANSLATION "board.write"}}">
      <span aria-hidden="true" class="icon-pencil"></span>
    </button>
  {{/if}}

    <div class="text-left">
      <uib-pagination ng-model="currentPage" total-items="totalItems" max-size="10" items-per-page="itemsPerPage" previous-text="&lsaquo;" next-text="&rsaquo;" ng-change="pageChanged()"></uib-pagination>
    </div>

    <!--=== End Content Part ===-->
  </div>

  {{> footer}}

</div> <!-- End wrapper -->

<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/summernote/dist/summernote.js"></script>
<script src="/unify/assets/plugins/ladda-buttons/js/spin.min.js"></script>
<script src="/unify/assets/plugins/ladda-buttons/js/ladda.min.js"></script>
<script src="/unify/assets/plugins/back-to-top.js"></script>
<script src="/unify/assets/plugins/smoothScroll.js"></script>
<script src="/unify/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/unify/assets/js/app.js"></script>
<script src="/kakao/js/kakao.min.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/angular-summernote/dist/angular-summernote.js"></script>
<script src="/bower_components/ng-infinite-scroller-origin/build/ng-infinite-scroll.js"></script>
<script src="/bower_components/angular-ladda/dist/angular-ladda.js"></script>
<script src="/jakduk/js/jakduk.js"></script>

<script src="/bower_components/angular-i18n/angular-locale_{{locale}}.js"></script>
<script src="/bower_components/summernote/lang/summernote-ko-KR.js"></script>

<script type="text/javascript">
  angular.module('jakdukApp', [
    'ngSanitize', 'ui.bootstrap', 'jakdukCommon'
  ]).controller("boardCtrl", ['$scope', '$http', '$window', function ($scope, $http, $window) {
    var page = parseInt('{{number}}');
    var size = parseInt('{{size}}');
    var total = Number('{{totalElements}}');

    $scope.dataCommentsConn = "loading";
    $scope.dataTopPostConn = "loading";
    $scope.comments = [];
    $scope.postsHavingComments = {};
    $scope.commentFeelingConn = {};
    $scope.commentFeelingAlert = {};
    $scope.numberOfCommentLike = {};
    $scope.numberOfCommentDislike = {};
    $scope.itemsPerPage = Jakduk.ItemsPerPageOnBoardComments;

    if (page > 0) {
      $scope.currentPage = page;
    } else {
      $scope.currentPage = 1;
    }
    $scope.totalItems = total;
    $scope.itemsPerPage = size;

    // 댓글 감정 표현
    $scope.btnCommentFeeling = function (commentId, status) {
      var conn = $scope.commentFeelingConn[commentId];
      if (conn !== 'loading') {
        $scope.commentFeelingConn[commentId] = "loading";
        $http.post('{{apiServerUrl}}/board/comment/' + commentId + '/' + status).then(function (response) {
          var data = response.data;
          if (data.feeling === 'LIKE') {
            $scope.numberOfCommentLike[commentId] = data.numberOfLike;
          } else if (data.feeling === 'DISLIKE') {
            $scope.numberOfCommentDislike[commentId] = data.numberOfDislike;
          }
          $scope.commentFeelingAlert[commentId] = '';
          $scope.commentFeelingConn[commentId] = "ok";
        }, function (response) {
          var data = response.data;
          $scope.commentFeelingConn[commentId] = "none";
          $scope.commentFeelingAlert[commentId] = data.message;
        });
      }
    };

    $scope.btnEnter = function () {
      var isValid = true;
      if ($scope.searchWords.trim() < 1) {
        $scope.enterAlert = '{{TRANSLATION "search.msg.enter.words.you.want.search.words"}}';
        isValid = false;
      }
      if (isValid) {
        $window.location.href = '/search?q=' + $scope.searchWords.trim() + '&w=CO;';
      }
    };

    $scope.pageChanged = function () {
      var page = $scope.currentPage;
      $window.location.href = '/board/free/comments?page=' + page;
    };

    $scope.needLogin = function () {
      if ($window.confirm('{{TRANSLATION "board.msg.need.login.for.write"}}')) {
        $window.location.href = '/board/free/write';
      }
    }
  }]);

  $(document).ready(function () {
    App.init();
  });
</script>
